@page "/News12"
@layout NewsLayout

<!-- Tiêu đề bài viết -->
<h1>OPPO ra mắt Find N3 Flip: Smartphone "vỏ sò" đầu tiên có 3 camera chính, giá rẻ hơn Galaxy Z Flip5</h1>
<p><strong>Tác giả:</strong> Thế Duyệt - <strong>Ngày:</strong> 24/08/2023</p>


<h3 class="paragraph">Thế hệ smartphone gập "vò sỏ" tiếp theo của OPPO trang bị những nâng cấp đáng kể về camera và hiệu năng.</h3>


<!-- Nội dung bài viết -->
<p class="paragraph">Sau sự thành công của chiếc Find N2 Flip, OPPO mới đây đã ra mắt thế hệ kế nhiệm Find N3 Flip. Phiên bản mới cải tiến về thiết kế, nâng cấp hiệu năng cũng như camera, biến đây trở thành chiếc smartphone gập "vỏ sò" đầu tiên trên thế giới có hệ thống 3 camera chính chất lượng cao.</p>


<img src="./images/News12/news12-pic1.png" 
     alt="Hình ảnh mô tả" 
     class="small-image"/>
<figcaption class="caption"></figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Thiết kế của Find N3 Flip vẫn tương tự như thế hệ tiền nhiệm. Máy có phần mặt lưng hoàn thiện từ nhựa, khung viền làm từ kim loại chắc chắn, trang bị 2 màn hình chính và phụ, trong đó màn hình chính có kích thước 6,8 inch, sử dụng tấm nền LTPO AMOLED 120Hz, độ phân giải Full HD+, độ sáng tối đa 1600 nits. Màn hình này sử dụng công nghệ bản lề "giọt nước" cho phép hạn chế nếp gấp và khe hở giữa 2 nửa màn hình.</p>

<img src="./images/News12/news12-pic2.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Caption</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Với màn hình phụ, kích thước của màn hình này vẫn là 3,26 inch, độ sáng 900 nits và độ phân giải 382 x 720. Do có kích thước lớn, người dùng có thể sử dụng nhiều ứng dụng một cách khá thoải mái trên màn hình này. OPPO cũng thiết kế giao diện sử dụng riêng cho từng tác vụ cũng như trang bị nhiều widget để tận dụng sự tiện lợi của màn hình phụ.</p>

<img src="./images/News12/news12-pic3.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Caption</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Camera là điểm nâng cấp đáng chú ý. Máy trang bị hệ thống 3 camera chính gồm camera góc rộng 50MP f/1.8, camera góc siêu rộng 48MP góc nhìn 114 độ và camera tele 2X 32MP. Find N3 Flip là mẫu smartphone gập "vỏ sò" đầu tiên có camera tele. Ngoài ra, Find N3 Flip vẫn có camera selfie 32MP ở màn hình chính.</p>

<img src="./images/News12/news12-pic4.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Caption</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Về hiệu năng, Find N3 Flip tiếp tục trung thành với MediaTek khi trang bị vi xử lý Dimensity 9200, một con chip flagship mạnh mẽ và là đối thủ của Snapdragon 8 Gen 2. Máy có RAM 12GB, hai tuỳ chọn bộ nhớ 256GB/512GB. Viên pin có dung lượng 4300mAh, hỗ trợ sạc nhanh 44W. Máy sẽ chạy trên Android 13 với giao diện ColorOS 13.2.</p>

<img src="./images/News12/news12-pic4.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Caption</figcaption>

<p class="paragraph">OPPO Find N3 Flip lên kệ tại thị trường Trung Quốc với 3 tuỳ chọn màu sắc đen, vàng và hồng, giá khởi điểm từ 6799 tệ, tương đương 22,5 triệu đồng.</p>


<!-- Chân bài viết -->
<hr class="black-line">
<h4>Bài viết tiếp theo:</h4>
<a href=" ./NextArticle" class="link">=> Chính thức: iPhone 15 ra mắt ngày 12/9</a>


@code {

}
