@page "/News14"
@layout NewsLayout

<!-- Tiêu đề bài viết -->
<h1>Samsung ra mắt điện thoại pin 6000mAh, màn hình 120Hz, camera 50MP, giá 7,9 triệu đồng</h1>
<p><strong>Tác giả:</strong> Thế Duyệt - <strong>Ngày:</strong> 01/10/2023</p>


<h3 class="paragraph">Galaxy M34 5G có ưu điểm mạnh mẽ về thời lượng pin, màn hình đẹp kèm camera chụp ảnh đẹp.</h3>


<!-- Nội dung bài viết -->
<p class="paragraph">Samsung mới đây đã giới thiệu mẫu smartphone tầm trung mới có tên Galaxy M34 5G. Đây là một chiếc điện thoại thuộc dòng M-series, vốn được ưu tiên về thời lượng pin cũng như trang bị hiệu năng khá, hướng tới đối tượng cần một chiếc smartphone có trải nghiệm sử dụng bền bỉ.</p>


<img src="./images/News14/news14-pic1.png" 
     alt="Hình ảnh mô tả" 
     class="small-image"/>
<figcaption class="caption">Caption</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Galaxy M34 5G có ngôn ngữ thiết kế khá quen thuộc với bộ vỏ hoàn thiện từ nhựa, khung viền cũng làm từ nhựa. Máy có 2 tuỳ chọn màu sắc là xanh ánh kim và xanh đại dương.</p>
<p class="paragraph">Mặt lưng của M34 5G nổi bật với hệ thống 3 camera chính gồm camera góc rộng 50MP, camera góc siêu rộng 8MP kèm camera macro 2MP. Chất lượng ảnh chụp của smartphone Samsung tầm trung từ trước nay vẫn rất ổn, đáp ứng nhu cầu sử dụng cơ bản của người dùng phổ thông.</p>

<img src="./images/News14/news14-pic2.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Caption</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Ở mặt trước, Galaxy M34 5G trang bị màn hình kích thước 6,5 inch với ưu điểm là sử dụng tấm nền Super AMOLED cho chất lượng hiển thị cao cấp, màu sắc rực rỡ và nịnh mắt. Màn hình này có độ phân giải FHD+ và có tần số quét cao 120Hz, kèm theo đó là độ sáng cao 1000 nits. Thiết kế màn hình là dạng "giọt nước" Infinity-U, nơi đặt camera selfie 13MP.</p>
<p class="paragraph">Về hiệu năng Galaxy M34 5G được Samsung tích hợp con chip Exynos 1280 5nm, con chip từng được trang bị trên Galaxy A53 5G ra mắt vào năm ngoái. Đây vẫn là một con chip cho hiệu năng tương đối ổn, đủ để chơi mượt một số tựa game phổ biến trên thị trường hiện nay. Phiên bản chính hãng Việt Nam sẽ có dung lượng RAM 8GB, bộ nhớ lưu trữ 128GB và có hỗ trợ thẻ nhớ mở rộng. Máy có viên pin 6000mAh, hỗ trợ sạc nhanh 25W. Ngoài ra, Samsung cũng cài đặt sẵn giao diện OneUI 5.1 cho Galaxy M34 5G, cam kết cập nhật 4 phiên bản hệ điều hành và 5 năm bảo mật.</p>

<img src="./images/News14/news14-pic3.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Caption</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Galaxy M34 5G mở bán từ ngày 1/10/2023 với giá bán lẻ đề nghị là 7.990.000 đồng, đi kèm nhiều ưu đãi hấp dẫn như: Trả góp 0%, Ưu đãi 300K, Ưu đãi 40% gói bảo hành Samsung Care+, Quà tặng miễn phí 2 tháng sử dụng YouTube Premium trên Galaxy Gift.</p>


@code {

}
