@page "/News13"
@layout NewsLayout

<!-- Tiêu đề bài viết -->
<h1>Huawei ra mắt Mate60 Pro: Màn hình 3 "nốt ruồi", hỗ trợ 5G, giá 23 triệu đồng</h1>
<p><strong>Tác giả:</strong> Đức Nam - <strong>Ngày:</strong> 28/09/2023</p>


<h3 class="paragraph">Mate60 Pro đánh dấu sự trở lại của 5G trên các smartphone Huawei sau nhiều năm cấm vận.</h3>


<!-- Nội dung bài viết -->
<p class="paragraph">Huawei mới đây đã giới thiệu chiếc Mate60 Pro một cách khá âm thầm. Mate60 Pro là dòng sản phẩm cao cấp của Huawei, tập trung vào thiết kế ngoại hình, hiệu năng cũng như hiệu suất camera. Ở thế hệ lần này, máy có một thiết kế mới nhưng vẫn đặc trưng, nâng cấp hiệu năng và đặc biệt là đã hỗ trợ mạng 5G dù lệnh cấm vận của Chính phủ Hoa Kỳ vẫn còn hiệu lực.</p>
<p class="paragraph">Huawei Mate60 Pro có mặt lưng được thiết kế với 2 mảng màu khác nhau, mặt lưng này hoàn thiện từ kính, nổi bật với cụm camera mô-đun tròn kích thước lớn. Sẽ có khá nhiều tuỳ chọn màu sắc để người dùng lựa chọn như màu xanh, trắng, tím, đen...</p>


<img src="./images/News13/news13-pic1.png" 
     alt="Hình ảnh mô tả" 
     class="small-image"/>
<figcaption class="caption"></figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Ở mặt trước, Mate60 Pro có màn hình LTPO OLED 10-bit màu, kích thước 6,82 inch, độ phân giải 1212 x 2616 kèm tần số quét 120Hz. Màn hình này có thiết kế 3 "nốt ruồi", là nơi đặt camera selfie góc rộng kèm hệ thống cảm biến 3D ToF dùng để mở khoá khuôn mặt tương tự iPhone. Huawei sử dụng kính cường lực "nhà tự trồng" là Kunlun Glass 2 để bảo vệ cho màn hình này.</p>

<img src="./images/News13/news13-pic2.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption"></figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Về camera, Mate60 Pro trang bị hệ thống 3 camera chính ở mặt lưng gồm camera góc rộng 50MP có khẩu độ biến thiên f/1.4 - 4.0, camera góc siêu rộng 12MP góc nhìn 120 độ và camera tele tiềm vọng 3,5X độ phân giải 48MP.</p>
<p class="paragraph">Về hiệu năng, Huawei trang bị cho Mate60 Pro con chip Kirin 9000S 5nm. Một số nguồn tin cho biết con chip này được tích hợp sẵn modem 5G, mang tới khả năng hỗ trợ 5G cho smartphone của Huawei sau nhiều năm bị cấm vận. Máy có RAM 12GB, bộ nhớ tối đa 1TB. Viên pin có dung lượng 5000mAh, hỗ trợ sạc nhanh 88W có dây và 50W không dây. Máy chạy trên hệ điều hành HarmonyOS 4.0. Ngoài ra, đây cũng là chiếc smartphone có hỗ trợ khả năng liên lạc vệ tinh.</p>

<img src="./images/News13/news13-pic3.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption"></figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Giá bán khởi điểm của Huawei Mate60 Pro tại thị trường Trung Quốc là 6999 tệ, tương đương 23,2 triệu đồng.</p>



@code {

}
