@page "/News7"
@layout NewsLayout

<!-- Tiêu đề bài viết -->
<h1>'Mổ xẻ' mẫu G22 cực dị của Nokia: Giá chưa đến 4 triệu đồng nhưng có nên mua? – Đáp án nằm ở 1 chi tiết ít người chú ý</h1>
<p><strong>Tác giả:</strong> Nhật Minh - <strong>Ngày:</strong> 28/06/2023</p>


<h3 class="paragraph">Nokia G22 trở thành cái tên thu hút nhiều sự chú ý trong thời gian qua bởi theo nhà cung cấp, người dùng có thể tự sửa chữa điện thoại một cách dễ dàng.</h3>


<!-- Nội dung bài viết -->
<p class="paragraph">Cái nhìn sơ qua về Nokia G22</p>
<p class="paragraph">HMD - thương hiệu sản xuất những chiếc điện thoại mới mang nhãn hiệu của Nokia – đã tung ra thị trường mẫu điện thoại thông minh G22 với thiết kế đặc biệt, cho phép người dùng có thể tự sửa chữa khi cần.</p>
<p class="paragraph">HMD tuyên bố: "Bắt đầu từ Nokia G22, chúng tôi sẽ thiết kế và chế tạo những chiếc điện thoại thông minh dễ sửa chữa hơn".</p>
<p class="paragraph">Thật tuyệt khi thấy một hãng điện thoại tìm cách tạo ra những thiết kế dễ sửa chữa để nâng tầm trải nghiệm người dùng. Thế nhưng, theo chuyên gia công nghệ Ron Amadeo đến từ New Jersey (Mỹ), tính năng "dễ sửa chữa" của G22 có vẻ đã được nâng tầm hơn so với thực tế.</p>


<img src="./images/News7/news7-pic1.png" 
     alt="Hình ảnh mô tả" 
     class="small-image"/>
<figcaption class="caption">Caption</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Mẫu điện thoại này có giá 179 USD (tại Việt Nam, G22 đang được bán với giá 3.690.000 đồng, theo website Thế giới di động), trang bị màn hình LCD 6.52 inch, tốc độ làm mới màn hình 90Hz, chip Unisoc T606, RAM 4GB, dung lượng lưu trữ 64GB, pin 5050 mAh với sạc 20W.</p>
<p class="paragraph">Điện thoại có đầu đọc dấu vân tay, jack cắm tai nghe, khe cắm MicroSD, hệ điều hành Android 12 kèm theo chính sách hỗ trợ 2 năm cập nhật hệ điều hành và 3 năm cập nhật bảo mật hàng tháng. Với một mẫu điện thoại giá rẻ thì đây là chính sách hỗ trợ tốt.</p>
<p class="paragraph">Tương tự như Google và Samsung, HMD đã hợp tác với iFixit để cung cấp các bộ phận sửa chữa chính hãng, bao gồm màn hình (53 USD), pin (26 USD), cổng sạc (20 USD), mặt lưng bằng nhựa (26 USD). Ngoài ra còn có các hướng dẫn chi tiết từ iFixit để người dùng biết phải xử lý, thay thế các bộ phận đó ra sao.</p>
<p class="paragraph">Theo Amadeo, tất cả các nỗ lực của HMD đều rất tuyệt vời và xứng đáng được đánh giá cao. Mỗi nhà sản xuất đều nên cung cấp các bộ phận thay thế cho điện thoại, cùng hướng dẫn đi kèm. Song, nếu xem xét kỹ Nokia G22, bạn có lẽ sẽ không thấy thỏa mãn.</p>
<p class="paragraph">Mẫu smartphone giá rẻ đi kèm thủ thuật bán hàng mới</p>
<p class="paragraph">Khi mở mặt lưng của điện thoại, bạn sẽ thấy một khay chứa pin được dán vào. Chỉ cần vài thao tác nhỏ là đã có thể nhấc viên pin cũ ra ngoài. Tuy nhiên, thao tác lắp ráp lại có vẻ gây lúng túng hơn.</p>
<p class="paragraph">Trong đoạn video do PCMag đăng tải, nhân viên kỹ thuật của iFixit đã mất hơn 3 phút để lắp ráp lại chiếc điện thoại trở lại trạng thái ban đầu sau khi tháo pin. Có lẽ vì vậy mà trong thông báo của mình, HDM cũng ước tính thời gian để người dùng có thể tự thay pin là 5 phút.</p>
<p class="paragraph">Thay thế màn hình là một trong những nhu cầu sửa chữa phổ biến nhất, nhưng ở G22, tất cả các thành phần đều được gắn vào mặt sau của màn hình. Như vậy, để thay màn hình, bạn sẽ phải tháo rời gần như tất cả các linh kiện ra ngoài.</p>
<p class="paragraph">Hướng dẫn chính thức của iFixit đã liệt kê 39 bước để thay thế màn hình Nokia G22, điều này có vẻ phức tạp hơn mức cần thiết nếu xét tới các thiết bị cho phép người dùng có thể tự sửa chữa trên thị trường hiện nay. HMD ước tính người dùng cần 20 phút để thực hiện các thao tác thay màn hình.</p>


<img src="./images/News7/news7-pic2.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Caption</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Đáng nói, theo Amadeo, có một điều ít người để ý. Đó là nếu nhìn vào chiếc G22 đã tháo tung, bạn sẽ thấy nó không khác gì so với "người tiền nhiệm" G21. Thay đổi duy nhất khiến G22 tương xứng hơn với mục tiêu tiếp thị "tự sửa chữa" là mặt lưng nhựa tháo rời, thay vì dán keo.</p>
<p class="paragraph">Chuyên gia Mỹ nhận định, đây là một bước đi đúng hướng của HMD, tuy nhiên, có vẻ nhà cung cấp này đã dành nhiều nỗ lực cho việc tiếp thị hơn là đầu tư nhiều hơn nữa vào khả năng sửa chữa của điện thoại trên thực tế.</p>

<img src="./images/News7/news7-pic3.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Caption</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Một thiết kế thân thiện với sửa chữa sẽ trông giống như iPhone 14. Apple không hướng tới mục tiêu này nhưng thiết kế vật lý của iPhone lại mang tới cảm nhận đó. Tất cả các thành phần của iPhone được gắn vào một khung trung tâm bên trong máy. Việc này cho phép tháo rời các tấm mặt trước và mặt sau máy chỉ trong 2-3 bước.</p>
<p class="paragraph">Người dùng cũng có thể chọn tháo tấm nào trước. Ví dụ, nếu cần thay màn hình, chỉ cần tháo rời màn hình phía trước và thay thế.</p>
<p class="paragraph">Theo Amadeo, chúng ta thực sự nên đánh giá cao những thiết kế có thể sữa chữa dễ dàng nhưng mẫu Nokia G22 của HMD trông giống như một chiếc điện thoại giá rẻ bình thường, đi kèm theo một số linh kiện và những thủ thuật bán hàng mới.</p>


<!-- Chân bài viết -->
<hr class="black-line">
<h4>Bài viết tiếp theo:</h4>
<a href="News8" class="link">=> Xiaomi ra mắt máy tính bảng giá rẻ: Màn hình 11 inch, pin 8000mAh, giá dưới 5 triệu đồng</a>


@code {

}
