@page "/News3"
@layout NewsLayout

<!-- Tiêu đề bài viết -->
<h1>Xiaomi 13T series chính thức: Camera Leica, chống nước IP68, giá từ 12,99 triệu đồng</h1>
<p><strong>Tác giả:</strong> Thế Duyệt - <strong>Ngày:</strong> 27/09/2023</p>


<h3 class="paragraph">Xiaomi 13T series là dòng sản phẩm T-series đầu tiên của Xiaomi được trang bị camera Leica chất lượng cao.</h3>


<!-- Nội dung bài viết -->
<p class="paragraph">Tại sự kiện ra mắt sản phẩm mới tổ chức tối ngày 26/9 theo giờ Việt Nam, Xiaomi chính thức giới thiệu dòng sản phẩm Xiaomi 13T series, bao gồm 2 phiên bản: Xiaomi 13T và Xiaomi 13T Pro. Dòng 13T năm nay mang tới nhiều nâng cấp về thiết kế, camera cũng như phần cứng, trong khi có mức giá tương đối dễ chịu.</p>


<img src="./images/News3/news3-pic1.png" 
     alt="Hình ảnh mô tả" 
     class="small-image"/>
<figcaption class="caption">Xiaomi với 3 màu sắc cực đẹp</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Về cơ bản, cả 2 phiên bản Xiaomi 13T và Xiaomi 13T Pro đều có ngoại hình tương tự nhau và giống với chiếc Redmi K60 Ultra, phiên bản bán tại thị trường nội địa. Máy có mặt lưng hoàn thiện từ chất liệu kính kèm khung viền nhựa, tuy nhiên vẫn mang dáng vẻ cao cấp.</p>
<p class="paragraph">Ở mặt trước, Xiaomi 13T và 13T Pro được trang bị màn hình 6,67 inch, sử dụng tấm nền AMOLED 12-bit, có độ phân giải 1220 x 2712 kèm tần số quét 144Hz. Màn hình này có độ sáng 2600 nits và có thiết kế dạng "nốt ruồi", nơi đặt camera selfie 20MP, Ngoài ra, Xiaomi cũng tích hợp cả cảm biến vân tay trong màn hình dạng quang học phía dưới.</p>

<img src="./images/News3/news3-pic2.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Hiển thị sắc nét</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Camera là một ưu điểm nâng cấp đáng chú ý khi năm nay là năm đầu tiên Xiaomi trang bị hệ thống camera Leica cao cấp cho dòng T-series thay vì dòng flagship. Về thông số, cả 2 phiên bản đều được trang bị camera góc rộng 50MP, camera góc siêu rộng 12MP và camera tele 50MP.</p>
<p class="paragraph">Xiaomi 13T series mang đến hai phong cách chụp ảnh Leica nguyên bản: Leica Authentic Look và Leica Vibrant Look, với khả năng tái tạo màu sắc tự nhiên, độ tương phản và độ phân giải cao, song hành cùng tính thẩm mỹ của hình ảnh Leica cổ điển. Sáu bộ lọc Leica thể hiện sự tôn vinh với các hiệu ứng hình ảnh Leica huyền thoại, bao gồm cả Leica Sepia và Leica Blue mới nhất được chuyển thể từ Chế độ phim Leica M - Typ 240. Xiaomi 13T Pro và Xiaomi 13T cũng bổ sung thêm các lựa chọn sáng tạo cho người dùng bằng cách cung cấp bốn dấu mờ độc quyền Leica mới, mang đến nhiều lựa chọn hơn về bố cục ảnh và kích thước khung hình.</p>

<img src="./images/News3/news3-pic3.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Camera chất lượng</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Về hiệu năng, Xiaomi 13T phiên bản tiêu chuẩn được trang bị con chip Dimensity 8200 Ultra, còn bản Pro trang bị chip Dimensity 9200+ mạnh mẽ, tương tự Redmi K60 Ultra. Máy có dung lượng RAM lên tới 16GB, bộ nhớ lưu trữ lên tới 1TB.</p>
<p class="paragraph">Về thời lượng pin, Xiaomi trang bị cho Xiaomi 13T series viên pin dung lượng 5000mAh, hỗ trợ sạc nhanh 67W và 120W tương ứng với bản tiêu chuẩn và bản Pro.</p>

<img src="./images/News3/news3-pic4.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Chụp ảnh bố đời</figcaption>
<p class="paragraph">Tại Việt Nam, Xiaomi 13T và Xiaomi 13T Pro lên kệ với mức giá niêm yết lần lượt từ 12,99 triệu đồng và 16,99 triệu đồng. Máy có 3 tuỳ chọn màu sắc là đen, xanh dương và xanh ngọc.</p>



<!-- Chân bài viết -->
<hr class="black-line">
<h4>Bài viết tiếp theo:</h4>
<a href=" ./NextArticle" class="link">=> Trên tay smartphone Xiaomi có RAM 24GB, sạc 120W giá chưa tới 12 triệu đồng</a>


@code {

}
