@page "/News9"
@layout NewsLayout

<!-- Tiêu đề bài viết -->
<h1>Trên tay smartphone Xiaomi có RAM 24GB, sạc 120W giá chưa tới 12 triệu đồng</h1>
<p><strong>Tác giả:</strong> Thế Duyệt - <strong>Ngày:</strong> 28/08/2023</p>


<h3 class="paragraph">Redmi K60 Ultra là mẫu smartphone rẻ nhất trên thị trường trang bị RAM lên tới 24GB, đi kèm hiệu năng phần cứng mạnh mẽ.</h3>


<!-- Nội dung bài viết -->


<img src="./images/News9/news9-pic1.png" 
     alt="Hình ảnh mô tả" 
     class="small-image"/>
<figcaption class="caption">Redmi K60 Ultra (hay Ultimate Edition) là mẫu smartphone mới nhất của Xiaomi thuộc dòng K60 series. Dù dòng sản phẩm này đã ra mắt được gần một năm, nhưng phải tới tận bây giờ, một phiên bản cao cấp với phần cứng mạnh mẽ nhất mới được Xiaomi giới thiệu tới người dùng</figcaption>

<!---------------------------------------------------------------->


<img src="./images/News9/news9-pic2.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Về cơ bản, dù mang trong mình phần cứng rất mạnh mẽ, nhưng Redmi K60 Ultra vẫn chỉ được định vị ở phân khúc cận cao cấp. Bởi vậy so với các dòng flagship của Xiaomi thì các yếu tố về ngoại hình hay camera đều không "cao cấp" bằng</figcaption>

<!---------------------------------------------------------------->

<img src="./images/News9/news9-pic3.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Redmi K60 Ultra có mặt lưng hoàn thiện từ kính bề mặt dạng bóng, khá tương đồng với 2 phiên bản tiêu chuẩn và bản Pro ra mắt hồi đầu năm nay. Mặt lưng này được thiết kế cong ở 2 cạnh bên giúp cảm giác cầm nắm thoải má</figcaption>

<!---------------------------------------------------------------->


<img src="./images/News9/news9-pic4.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Cụm camera của Redmi K60 Ultra về cơ bản có cách thiết kế giống 2 phiên bản tiêu chuẩn và Pro, tuy nhiên có kích thước mô-đun lớn hơn. Xiaomi đặt vào đây 3 ống kính: góc rộng 50MP sử dụng cảm biến Sony IMX800, góc siêu rộng 8MP và macro 2MP. Chất lượng camera của các mẫu điện thoại Redmi ở mức ổn, không quá xuất sắc như những dòng flagship Mi vốn có sự tinh chỉnh của Leica</figcaption>

<!---------------------------------------------------------------->


<img src="./images/News9/news9-pic5.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Ở mặt trước, Redmi K60 Ultra được trang bị một màn hình AMOLED có kích thước 6,67 inch, sử dụng độ phân giải QHD+, tần số quét 144Hz. Màn hình này có camera selfie 20MP "nốt ruồi" cũng như có cảm biến vân tay quang học phía dưới</figcaption>

<!---------------------------------------------------------------->


<img src="./images/News9/news9-pic6.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Xiaomi cho biết Redmi K60 Ultra tích hợp con chip X7 được phát triển bới Pixelworks nhằm hỗ trợ chơi game ở độ phân giải 144Hz với 30 tựa game khác nhau. Bởi vậy trong cài đặt màn hình, phần tần số quét được hiển thị là "lên tới 144Hz"</figcaption>

<!---------------------------------------------------------------->


<img src="./images/News9/news9-pic7.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Như đã đề cập, Redmi K60 Ultra là chiếc smartphone thuộc dòng cận cao cấp nên phần khung viền của máy hoàn thiện từ nhựa. Đây là nơi đặt các cổng kết nối, phím bấm vật lý, dải loa, mic thu âm... Máy vẫn được trang bị "mắt thần" hồng ngoại nhưng không có jack tai nghe 3.5mm</figcaption>

<!---------------------------------------------------------------->


<img src="./images/News9/news9-pic8.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption"></figcaption>

<!---------------------------------------------------------------->


<img src="./images/News9/news9-pic9.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption"></figcaption>

<!---------------------------------------------------------------->


<img src="./images/News9/news9-pic10.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Về hiệu năng, Redmi K60 Ultra trang bị con chip Dimensity 9200+ mạnh mẽ nhất tới từ MediaTek. Con chip này cho hiệu năng có thể so sánh ngang với Snapdragon 8 Gen 2</figcaption>

<!---------------------------------------------------------------->


<img src="./images/News9/news9-pic11.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Với 1,4 triệu điểm hiệu năng, con chip Dimensity 9200+ trên Redmi K60 Ultra cho hiệu năng mạnh mẽ ngang ngửa Snapdragon 8 Gen 2 phiên bản ép xung trang bị trên các máy smartphone gaming</figcaption>

<!---------------------------------------------------------------->


<img src="./images/News9/news9-pic12.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Redmi K60 Ultra có thể cân mượt tất cả các tựa game nặng nhẹ khác nhau trên thị trường với mức đồ hoạ cao. Chúng tôi sẽ có bài đánh giá hiệu năng chơi game chi tiết của Redmi K60 Ultra trong thời gian tới</figcaption>

<!---------------------------------------------------------------->


<img src="./images/News9/news9-pic13.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Điểm đặc biệt là Redmi K60 Ultra là mẫu smartphone hiếm hoi trên thị trường trang bị dung lượng RAM lên tới 24GB vật lý. Phiên bản này có mức giá chưa tới 12 triệu nếu tính theo tỷ giá chuyển đổi ngoại tệ. Ngoài ra thì bộ nhớ lưu trữ của phiên bản 24GB RAM cũng sẽ là 1TB</figcaption>

<!---------------------------------------------------------------->


<img src="./images/News9/news9-pic14.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Xiaomi trang bị viên pin dung lượng 5000mAh, hỗ trợ sạc nhanh 120W TurboCharge</figcaption>

<!---------------------------------------------------------------->


<img src="./images/News9/news9-pic15.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Máy tặng kèm sẵn sạc nhanh theo máy nên người dùng không cần phải mua thêm</figcaption>

<!---------------------------------------------------------------->


<img src="./images/News9/news9-pic16.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Do là phiên bản nội địa, Redmi K60 Ultra sẽ không được cài đặt sẵn các dịch vụ của Google như kho ứng dụng Google Play, người dùng sẽ cần phải cài đặt thủ công. Ngoài ra, máy cũng sẽ không hỗ trợ hiển thị ngôn ngữ tiếng Việt. Người dùng cần cân nhắc lựa chọn nơi bán uy tín để được hỗ trợ các vấn đề này, khâu bảo hành cũng sẽ tuỳ chọn vào nơi bán</figcaption>

<!---------------------------------------------------------------->


<img src="./images/News9/news9-pic17.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Tham khảo tại một số cửa hàng, Redmi K60 Ultra được bán tại Việt Nam với mức giá khởi điểm từ 9,4 triệu đồng. Phiên bản cao cấp nhất 24GB/1TB sẽ có giá chênh lệch với giá tại thị trường nội địa khoảng 1 - 1,5 triệu đồng</figcaption>


<!---------------------------------------------------------------->
<!-- Chân bài viết -->
<hr class="black-line">
<h4>Bài viết tiếp theo:</h4>
<a href=" ./NextArticle" class="link">=> iPhone 15 bị lỗi quá nhiệt trên diện rộng, chuyên gia nói ‘không thể khắc phục được’ trừ khi Apple chịu làm 1 điều</a>


@code {

}
