@page "/News1"
@layout NewsLayout


<!-- Tiêu đề bài viết -->
<h1>Không có chuyện bộ khung iPhone 15 Pro "mạ titan"</h1>
<p><strong>Tác giả:</strong> Nguyễn Hải - <strong>Ngày:</strong> 28/09/2023</p>


<h3 class="paragraph">Dù khó có thể phân biệt được bằng mắt thường, nhưng clip bóc tách iPhone 15 Pro của một YouTuber giúp người dùng thấy ấn tượng thế nào về độ dày của lớp Titan trong iPhone 15 Pro.</h3>


<!-- Nội dung bài viết -->
<p class="paragraph">Một trong các vấn đề gây tranh cãi nhất đối với người dùng Việt kể từ khi iPhone 15 Pro và Pro Max ra mắt lại là bộ khung titan của bộ đôi smartphone mới này. Trong sự kiện, Apple khẳng định các iPhone 15 cao cấp là những iPhone đầu tiên được trang bị bộ khung làm bằng hợp kim Titan Hạng 5 (chính xác hơn là hợp kim Ti-6Al-4V), tương tự như loại vật liệu được sử dụng trong chế tạo máy bay Boeing hay ngành hàng không vũ trụ.</p>
<p class="paragraph">Tuy nhiên, nhiều người cho rằng thực chất bộ khung này chỉ làm bằng kim loại thông thường và được mạ một lớp Titan bên ngoài. Quả thật nếu nhìn bằng mắt thường cùng với lớp màu bao phủ ngoài thân máy, thật khó phân biệt được 2 loại vật liệu này với nhau. Nhưng mới đây, kênh YouTube JerryRigEverything đã có màn mổ xẻ chiếc iPhone 15 Pro Max vừa ra mắt, để người dùng có cái nhìn rõ ràng hơn về loại vật liệu làm nên bộ khung của thiết bị này.</p>


<img src="./images/News1/news1-pic1.png" 
     alt="Hình ảnh mô tả" 
     class="small-image"/>
<figcaption class="caption">Zack Nelson, chủ kênh YouTube JerryRigEverything đã phải dùng máy cưa cầm tay để cắt ngang bộ khung titan của iPhone 15 Pro</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Trong khi phải rất vất vả mới có thể tháo rời toàn bộ mọi linh kiện trong chiếc iPhone 15 Pro Max mới này, nhưng để biết được có thật sự Apple sử dụng hợp kim titan cho thiết bị này hay không, YouTuber nổi tiếng này quyết định cắt ngang bộ khung kim loại của nó để có được cái nhìn rõ ràng hơn các thành phần làm nên bộ khung của iPhone 15 Pro Max.</p>
<p class="paragraph">Một chi tiết đáng chú ý của quá trình này là JerryRigEverything đã phải dùng đến một máy cưa cầm tay để cắt xuyên ngang bộ khung kim loại này thay vì dùng các dụng cụ thông thường. Trong phần giới thiệu về bộ khung Titan này, Apple cho biết nó được tạo nên bằng phương pháp khuếch tán chất rắn để kết hợp giữa lớp vỏ hợp kim Titan bên ngoài với lớp nhôm bên trong, giúp tăng cường sức mạnh của kết cấu đồng thời làm giảm trọng lượng.</p>

<img src="./images/News1/news1-pic2.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Hai lớp màu sắc khác nhau cho thấy sự khác biệt giữa 2 chất liệu kim loại làm nên khung sườn iPhone 15 Pro, lớp bên ngoài là Titan, lớp bên trong là nhôm</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Quả thật, trong clip của JerryRigEverything, sau khi cắt ngang bộ khung iPhone 15 Pro mọi người có thể nhận thấy 2 lớp kim loại được nén chặt với nhau dựa trên sự khác biệt về màu sắc, với lớp nhôm trắng bạc ở bên trong và lớp hợp kim Titan có màu sẫm hơn ở bên ngoài. Độ dày của lớp Titan đo được khoảng 1mm.</p>
<p class="paragraph">Như có thể thấy trong clip của JerryRigEverything, kết cấu của lớp Titan bọc bên ngoài và độ dày của nó cho thấy gần như chắc chắn đây không thể là lớp kim loại mạ. Nếu chỉ là một lớp Titan mạ bên ngoài, thông thường độ dày sẽ chỉ khoảng 100 micromet đổ lại (bằng 0,1 mm) mà thôi. Với độ dày đến 1mm như trong clip của JerryRigEverything, các nhà sản xuất sẽ phải dùng đến cả tấm kim loại chứ không thể mạ như đồn đại.</p>

<img src="./images/News1/news1-pic3.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Lớp Titan bên ngoài không thể là mạ khi có độ dày đến 1mm</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Hơn thế nữa, một chi tiết khác trong clip kể trên lớp Titan này chỉ bao phủ quanh bộ khung sườn iPhone, còn mặt lưng vẫn chỉ là vỏ nhôm kim loại thông thường. Theo lời giải thích của Apple, điều này sẽ giúp tản nhiệt tốt hơn cũng như giúp mặt lưng kính dễ thay thế hơn. Bộ khung sườn là nơi bảo vệ các linh kiện bên trong iPhone do vậy, nó cần được gia cố tốt hơn để tránh hư hỏng trong các tình huống va chạm mạnh hoặc thả rơi.</p>
<p class="paragraph">Đó cũng là lý do vì sao Apple sử dụng phương pháp khuếch tán chất rắn để gắn chặt bộ khung Titan vào sườn dòng iPhone 15 Pro và Pro Max trong khi không trang bị lớp vỏ Titan này cho mặt lưng thiết bị.</p>


@code {
    
}
