@page "/News22"
@layout NewsLayout

<!-- Tiêu đề bài viết -->
<h1>Thảm cảnh của Apple: Nguy cơ mất khoản lệ phí hàng tỷ USD từ Google giữa lúc tình hình iPhone 15 đối mặt thách thức</h1>
<p><strong>Tác giả:</strong> Bằng Bằng - <strong>Ngày:</strong> 08/10/2023</p>


<h3 class="paragraph">Cổ phiếu của Apple đã giảm hơn 7% trong 3 tháng qua vì hàng loạt những thông tin tiêu cực.</h3>


<!-- Nội dung bài viết -->

<img src="./images/News22/news22-pic1.png" 
     alt="Hình ảnh mô tả" 
     class="small-image"/>
<figcaption class="caption"></figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Tờ Wall Street Journal (WSJ) đánh giá Apple đang ở trong tình cảnh đối mặt nhiều thách thức khi vụ kiện chống độc quyền với Google diễn ra tại thời điểm tình hình kinh doanh iPhone 15 không được thuận lợi.</p>
<p class="paragraph">Mặc dù là đối thủ của nhau ở mảng hệ điều hành smartphone, giữa iOS và Android nhưng Google lại trả hàng tỷ USD mỗi năm để được làm công cụ tìm kiếm mặc định cho Apple.</p>
<p class="paragraph">Chính điều này đã cho phép Google được tiếp cận lượng người dùng khổng lồ của nhà táo khuyết trong lĩnh vực tìm kiếm trực tuyến, đồng thời đóng góp đến 21% tổng doanh thu và 35% tổng lợi nhuận mảng kinh doanh dịch vụ của Apple.</p>

<img src="./images/News22/news22-pic2.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">CEO Tim Cook của Apple đến làm chứng trong vụ kiện chống độc quyền của Google</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Cả 2 ông lớn này đều từ chối công khai thỏa thuận này và khi vụ kiện chống độc quyền mà Bộ tư pháp Mỹ nhắm vào Google diễn ra, câu chuyện mới dần được hé lộ, đồng thời buộc các bên phải bày tỏ lập trường của mình trước tòa.</p>
<p class="paragraph">Trong khi Microsoft nhận thấy đây là cơ hội lớn để phá vỡ mối liên minh Apple-Google nhằm tạo cơ hội cho công cụ tìm kiếm Bing, vốn đã phát triển trong nhiều năm của mình thì tình hình trên lại chẳng phải tin tốt cho nhà táo khuyết.</p>
<p class="paragraph">Tờ WSJ nhận định mặc dù vụ kiện có thể kéo dài nhiều năm không đi đến hồi kết nhưng cũng sẽ ảnh hưởng đến nguồn thu từ Google của Apple.</p>
<p class="paragraph">Tệ hơn, mọi chuyện diễn ra trong lúc tình hình kinh doanh của nhà táo khuyết tại Trung Quốc đang gặp nhiều thách thức.</p>
<p class="paragraph">Trong 3 tháng qua, giá cổ phiếu Apple đã giảm hơn 7% và trở thành cổ phiếu có thành tích tệ nhất trong số các Big Tech. Sự sụt giảm này tương đương với khoản bốc hơi hơn 220 tỷ USD vốn hóa trên thị trường chứng khoán.</p>
<p class="paragraph">Mịt mờ</p>
<p class="paragraph">Theo WSJ, câu hỏi về tình hình kinh doanh của iPhone 15 tại Trung Quốc có thể sẽ được trả lời trong ngắn hạn khi Apple phải công bố báo cáo kết quả kinh doanh tài khóa quý IV/2023 vào ngày 2/11/2023, qua đó cho thấy có đúng là nhà táo khuyết đang bị Huawei thách thức trở lại hay không.</p>
<p class="paragraph">Những tin đồn về việc chính phủ Trung Quốc cấm các nhân viên quan chức dùng smartphone nước ngoài hay App Store của Apple bị siết quản lý theo tiêu chuẩn mới, cùng với đó là việc Huawei ra mắt dòng điện thoại 5G mới khiến nhiều nhà đầu tư lo ngại.</p>
<p class="paragraph">Tuy nhiên, câu hỏi về dòng tiền hàng tỷ USD mỗi năm từ Google thì lại chẳng thể có lời giải đáp trong ngắn hạn.</p>

<img src="./images/News22/news22-pic3.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption"></figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Báo cáo của Google cho thấy công ty mẹ Alphabet mỗi năm đã chi gần 50 tỷ USD tiền lệ phí thanh toán cho các nền tảng bên thứ 3 đã giúp công cụ tìm kiếm của họ thu được lợi nhuận (TAC), ví dụ như Apple.</p>
<p class="paragraph">Thậm chí, nhà táo khuyết còn được cho là chiếm phần lớn trong khoản thanh toán này với lượng người dùng khổng lồ.</p>
<p class="paragraph">Số liệu cuối cùng được công khai là vào năm 2018 khi Apple nhận được 12,6 tỷ USD từ Google, sau đó hãng này không công bố chi tiết các khoản của TAC nữa.</p>
<p class="paragraph">Dẫu vậy, số liệu cho thấy chi phí TAC của Google đã tăng bình quân 34% mỗi năm trong giai đoạn 5 năm đến năm 2018.</p>
<p class="paragraph">Mặc dù cả 2 tập đoàn đều không tiết lộ con số cụ thể nhưng các công tố viên ước tính chúng có thể lên đến hơn 10 tỷ USD mỗi năm.</p>
<p class="paragraph">Trong khi đó chuyên gia phân tích Eric Sheridan của Goldman Sachs dự đoán con số có thể rơi vào khoảng 16-17 tỷ USD hàng năm.</p>
<p class="paragraph">Nếu đây là sự thật thì số tiền này tương đương 20% doanh thu mảng dịch vụ trong năm tài khóa này của Apple và sự thiếu hụt nguồn thu trên do rắc rối của vụ kiện Google có thể làm xấu báo cáo tài chính của nhà táo khuyết trong bối cảnh các cổ đông đang lo lắng vì tình hình kinh doanh iPhone 15 ở Trung Quốc.</p>
<p class="paragraph">Đối với Apple, nguồn thu từ Google là một khoản “béo bở” khi không cần quá nhiều chi phí như những mảng dịch vụ đang kinh doanh khác, đồng thời doanh thu cũng cao hơn các mảng Apple Music hay TV+.</p>
<p class="paragraph">Dự đoán của Goldman Sachs cho thấy nếu mất khoản thu từ Google thì hệ số lợi nhuận trên mỗi cổ phiếu (P/E) của Apple sẽ giảm 15% trong năm tài khóa 2025. Tuy nhiên con số này có thể giới hạn ở 10% nếu vụ việc chỉ giới hạn ở thị trường Mỹ.</p>

<img src="./images/News22/news22-pic4.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption"></figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Hướng đi nào cho tương lai?</p>
<p class="paragraph">Tờ WSJ nhận định Apple đang khá bối rồi vì phải rất cẩn trọng trong việc quyết định bước đi tiếp theo.</p>
<p class="paragraph">Việc thay thế công cụ tìm kiếm Bing của Microsoft cho Google không hề đơn giản và cũng chưa chắc đem lại nguồn thu tương đương bởi vụ kiện chống độc quyền trên có thể giới hạn các thương vụ như vậy.</p>
<p class="paragraph">Mặc dù Apple được cho là đã tự nghiên cứu phát triển công cụ tìm kiếm của bản thân hàng năm trời nhưng chưa có một dấu hiệu nào chứng minh nhà táo khuyết thực sự hứng thú với mảng này.</p>
<p class="paragraph">Thậm chí một số nguồn tin thân cận còn cho biết Microsoft đã dự đính bán Bing và công nghệ tìm kiếm trực tuyến của mình cho Apple nhưng vẫn bị từ chối.</p>
<p class="paragraph">Theo các chuyên gia, Apple dường như chỉ dùng Microsoft như là mồi nhử để Google tăng khoản phí phải trả.</p>
<p class="paragraph">Bằng chứng là sau khi có giai đoạn đàm phán với Microsoft năm 2013-2017, nhà táo khuyết đã quay lại với bản hợp đồng mới từ Google cùng thỏa thuận phân chia phần trăm doanh thu mới.</p>
<p class="paragraph">Ngoài ra, Apple cũng không muốn tốn thêm chi phí phát triển công cụ tìm kiếm trực tuyến khi Google đã làm quá tốt ở mảng này.</p>
<p class="paragraph">Xin được nhắc rằng Google có 25 năm đi trước nhà táo khuyết trong mảng dịch vụ tìm kiếm online.</p>
<p class="paragraph">Hơn nữa Apple cũng đã học được bài học tương tự từ thất bại ê chề khi cố gắng phát triển dòng chip điện tử cho riêng mình nhưng không thành công.</p>
<p class="paragraph">Tuy nhiên theo WSJ, vụ kiện chống độc quyền Google có lẽ sẽ là bước ngoặt để thúc đẩy Apple bắt đầu hành trình tìm con đường mới cho riêng mình.</p>


<!-- Chân bài viết -->
<hr class="black-line">
<h4>Bài viết tiếp theo:</h4>
<a href=" ./NextArticle" class="link">=> iPhone 15 bị lỗi quá nhiệt trên diện rộng, chuyên gia nói ‘không thể khắc phục được’ trừ khi Apple chịu làm 1 điều</a>


@code {

}
