@page "/News23"
@layout NewsLayout

<!-- Tiêu đề bài viết -->
<h1>Tim Cook giải thích tại sao Apple luôn bán iPhone mới mỗi năm, dù đề cao bảo vệ môi trường</h1>
<p><strong>Tác giả:</strong> Tuấn Nguyễn - <strong>Ngày:</strong> 09/10/2023</p>


<h3 class="paragraph">Đây là cách Apple ra iPhone mới hàng năm nhưng vẫn bảo vệ môi trường.</h3>


<!-- Nội dung bài viết -->
<p class="paragraph">Đã qua lâu rồi cái thời mà các công ty bán thiết bị của mình trong những chiếc hộp to bự, lỉnh kỉnh linh kiện. Ngày nay, xu hướng đang là đóng gói thân thiện với môi trường, sử dụng lượng giấy, nhựa, và linh kiện ít nhất có thể. Apple là một trong những người đi đầu xu hướng này trên thị trường smartphone. Công ty luôn đề cao giá trị môi trường trong những năm qua, nhưng Apple vẫn thường niên ra mắt dòng iPhone mới, đưa thêm hàng triệu thiết bị điện tử vào lưu hành.</p>
<p class="paragraph">Trong một cuộc phỏng vấn gần đây với Brut. Magazine, CEO Apple Tim Cook đã trả lời một số câu hỏi xoay quanh cách công ty và cá nhân ông thực hiện bảo vệ môi trường.</p>
<p class="paragraph">Tim Cook đã mở đầu bằng cách giải thích lý do tại sao Apple lại sản xuất iPhone mới mỗi năm.</p>
<p class="paragraph">“Tôi nghĩ việc có một chiếc iPhone hàng năm là điều tuyệt vời đối với những người muốn có nó. Và những gì chúng tôi làm là cho phép mọi người đổi điện thoại của họ. Và vì vậy chúng tôi sẽ bán lại chiếc điện thoại đó nếu nó vẫn hoạt động. Và nếu nó không hoạt động, chúng tôi sẽ có cách tháo rời và lấy nguyên liệu để tạo ra một chiếc iPhone mới.”</p>


<img src="./images/News23/news23-pic1.png" 
     alt="Hình ảnh mô tả" 
     class="small-image"/>
<figcaption class="caption">Apple sử dụng robot Daisy để tháo linh kiện iPhon</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Minh chứng cho việc này, trên thực tế Apple cho biết dòng iPhone 15 đã sử dụng nhiều vật liệu tái chế hơn, với 100% cô-ban tái chế trong pin và 100% đồng tái chế trong bảng mạch logic chính, dây đồng trong Taptic Engine và lá đồng bộ sạc MagSafe. Chúng bao gồm 100% nguyên tố đất hiếm tái chế trong tất cả các nam châm, và 100% vàng tái chế trong cổng kết nối USB‑C, cũng như lớp mạ vàng và hàn thiếc trong nhiều bảng mạch in. iPhone 15 và 15 Plus cũng bao gồm 75% nhôm tái chế trong phần vỏ máy.</p>
<p class="paragraph">Hơn 99% bao bì làm từ sợi, giúp Apple tiến gần hơn đến mục tiêu loại bỏ hoàn toàn nhựa khỏi bao bì vào năm 2025.</p>

<img src="./images/News23/news23-pic2.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Apple Watch là sản phẩm trung hòa carbon.</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Một câu hỏi thú vị nữa được đặt ra cho Tim Cook là liệu ông nghĩ iPhone sẽ như thế nào trong 20-30 năm nữa. Tất nhiên, Tim Cook đã thận trọng khi trả lời, thay vào đó ông tập trung vào tác động của iPhone với môi trường trong 30 năm sau:</p>
<p class="paragraph">“Tôi nghĩ nó sẽ trung hòa carbon. Tôi nghĩ tất nhiên là nó sẽ vượt rất nhiều so với hiện tại, nhưng tôi không muốn cung cấp tất cả bí mật của chúng tôi. Tôi sẽ chỉ nói từ quan điểm môi trường, nó sẽ trung hòa carbon.”</p>
<p class="paragraph">Tim Cook cũng nhấn mạnh rằng Apple thực sự quan tâm đến môi trường, không phải là hành vi “tẩy xanh”. Ông dẫn chứng việc Apple giảm đáng kể vận tải hàng không và chuyển sang đường biển, hay thu nhỏ bao bì, loại bỏ nhựa. Ông cho biết Apple Watch hiện đã trung hòa carbon, và đến năm 2023 nhiều dòng sản phẩm của công ty sẽ đủ điều kiện trung hòa carbon.</p>
<p class="paragraph">Về cá nhân, Cook chia sẻ những hành động bảo vệ môi trường của mình bao gồm đi xe điện, tránh dùng bao bì, chai vỏ nhựa. Ông tích cực tái chế rác thải, và khẳng định mọi hành động của mình đều hướng tới mục tiêu giảm lượng khí carbon được thải vào môi trường.</p>


<!-- Chân bài viết -->
<hr class="black-line">
<h4>Bài viết tiếp theo:</h4>
<a href=" ./NextArticle" class="link">=> iPhone 15 bị lỗi quá nhiệt trên diện rộng, chuyên gia nói ‘không thể khắc phục được’ trừ khi Apple chịu làm 1 điều</a>


@code {

}
