@page "/News16"
@layout NewsLayout

<!-- Tiêu đề bài viết -->
<h1>Thả rơi và nhúng nước iPhone 15 Pro Max và một loạt smartphone đắt tiền nhất, người thử nghiệm nhận kết quả bất ngờ</h1>
<p><strong>Tác giả:</strong> KENTT - <strong>Ngày:</strong> 12/10/2023</p>


<h3 class="paragraph"></h3>


<!-- Nội dung bài viết -->
<p class="paragraph">Các thử nghiệm độ bền thiết bị hay còn được gọi là drop test hiện tại đã không còn xa lạ với nhiều người. Trên YouTube, không thiếu các clip drop test thiết bị công nghệ đắt tiền. Tuy nhiên các thử nghiệm này thường không có tính chặt chẽ cao về mặt khoa học.</p>
<p class="paragraph">Mới đây, Allstate Protection Plans đã có một thử nghiệm drop test gây chú ý khi tiến hành thả rơi và ngâm nước một loạt smartphone đắt tiền nhất hiện tại. Đây có lẽ là những trường hợp sự cố thường gặp nhất khi dùng smartphone. Họ gọi đây là thí nghiệm "những chiếc điện thoại đắt nhất trong năm" với sự góp mặt của: iPhone 15 Pro Max (giá 1.199 USD), Samsung Galaxy S23 Ultra (1.199 USD), Samsung Galaxy Z Fold5 (1.799 USD) và Google Pixel Fold (1.799 USD).</p>
<p class="paragraph">Đầu tiên là thử nghiệm ngâm nước trong vòng 30 phút dưới độ sâu khoảng 1,8m. Không quá bất ngờ khi cả 4 chiếc điện thoại đắt đỏ này đều có thể dễ dàng vượt qua.</p>
<p class="paragraph">Tuy nhiên bất ngờ đã xảy ra với bài test thả rơi thiết bị. Cả 4 chiếc điện thoại được thả từ độ cao khoảng 1,8m xuống vỉa hè. Tuy nhiên, bất ngờ đã xảy ra khi cả iPhone 15 Pro Max và 3 chiếc smartphone còn lại đều gặp sự cố.</p>
<p class="paragraph">Trong lần đầu tiên thả rơi với màn hình phía trước, iPhone 15 Pro Max và Galaxy S23 Ultra đều có hiện tượng vỡ kính và không sử dụng được một số tính năng. </p>


<img src="./images/News16/news16-pic1.png" 
     alt="Hình ảnh mô tả" 
     class="small-image"/>
<figcaption class="caption">Hình ảnh iPhone 15 Pro Max bị vỡ kính, hư 2 camera sau khi thả rơi từ độ cao 1,8m</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Với riêng iPhone 15 Pro Max, thí nghiệm này đã khiến camera chính và camera siêu rộng bị vỡ. Các tính năng còn lại vẫn có thể sử dụng bình thường. Do đó, người dùng nên trang bị ốp lưng cho iPhone 15 Pro Max để tránh các trường hợp rơi vỡ dẫn đến hỏng thiết bị.</p>
<p class="paragraph">Ngoài ra, khung titan trên iPhone 15 Pro Max cũng tương tự như các smartphone cao cấp khác trong bài test. Nó không giúp thiết bị giảm thiểu hư hại quá lớn trong các trường hợp rơi vỡ.</p>
<p class="paragraph"></p>


@code {

}
