@page "/News17"
@layout NewsLayout

<!-- Tiêu đề bài viết -->
<h1>Những thứ không bao giờ nên lưu trữ trên điện thoại để tránh bị rò rỉ thông tin cá nhân</h1>
<p><strong>Tác giả:</strong> Minh Tiến - <strong>Ngày:</strong> 08/10/2023</p>


<h3 class="paragraph">Hiện nay, nhiều người thường lưu trữ một số thông tin cá nhân trên điện thoại. Tuy nhiên, điều này có thể gây ra nhiều rắc rối.</h3>


<!-- Nội dung bài viết -->
<p class="paragraph">Mật khẩu</p>
<p class="paragraph">Ghi chú hoặc lưu lại mật khẩu ngay trên điện thoại mà không thông qua các biện pháp bảo mật có thể gây ra một số rắc tối. Nếu làm mất hoặc cho người khác mượn điện thoại, họ có thể lén xem và đánh cắp mật khẩu.</p>
<p class="paragraph">Bất kỳ hình ảnh nào chứa thông tin cá nhân</p>
<p class="paragraph">Nhiều người thường có thói quen chụp lại hình ảnh của thẻ tín dụng, các loại giấy tờ tùy thân…, việc này cũng vô tình tạo điều kiện cho kẻ gian có thêm thông tin để đánh cắp tiền hoặc giả mạo danh tính. Chính vì vậy, người dùng nên lưu trữ những dữ liệu này trong một thư mục hoặc phần mềm được bảo vệ bằng mật khẩu.</p>


<img src="./images/News17/news17-pic1.png" 
     alt="Hình ảnh mô tả" 
     class="small-image"/>
<figcaption class="caption"></figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Ảnh và video cá nhân</p>
<p class="paragraph">Không nên lưu ảnh và video cá nhân trên điện thoại mà nên lưu trữ trên đám mây hoặc máy tính. Đồng thời, cần sử dụng các phần mềm bảo vệ để đặt mật khẩu cho những nội dung này.</p>
<p class="paragraph">Địa chỉ nhà</p>
<p class="paragraph">Lưu trữ địa chỉ nhà trên các ứng dụng điều hướng (bản đồ) hoặc đặt xe sẽ giúp việc di chuyển thuận lợi hơn. Tuy nhiên, nếu kẻ gian lấy được điện thoại, họ có thể biết được địa chỉ nhà riêng, cơ quan của người dùng. Hơn nữa, kẻ gian có thể biết được lộ trình di chuyển, thói quen, thời điểm ra khỏi nhà… từ đó tìm cách đột nhập vào nhà của bạn</p>
<p class="paragraph">Tài khoản ngân hàng</p>
<p class="paragraph">Người dùng nên đặt mật khẩu cẩn trọng và không lưu trữ chúng trên điện thoại. Nếu làm rơi, mất điện thoại, tài khoản ngân hàng cũng không bị rò rỉ.</p>


@code {

}
