@page "/News10"
@layout NewsLayout

<!-- Tiêu đề bài viết -->
<h1>Vivo ra mắt smartphone tầm trung thiết kế độc đáo, có màn hình cong, camera 50MP</h1>
<p><strong>Tác giả:</strong> Thế Duyệt - <strong>Ngày:</strong> 27/08/2023</p>


<h3 class="paragraph">vivo V29e là mẫu smartphone tầm trung với thiết kế mặt lưng khá đẹp mắt.</h3>


<!-- Nội dung bài viết -->
<p class="paragraph">Vivo mới đây đã giới thiệu chiếc vivo V29e tại thị trường Ấn Độ. Đây là dòng sản phẩm tầm trung nằm trong dòng V-series, có ưu điểm nổi bật tới từ thiết kế ngoại hình, trang bị màn hình cong cạnh và có camera 50MP kèm hiệu năng khá.</p>


<img src="./images/News10/news10-pic1.png" 
     alt="Hình ảnh mô tả" 
     class="small-image"/>
<figcaption class="caption"></figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Vivo V29e có mặt lưng hoàn thiện từ kính, mặt lưng này được chia thành 2 mảng màu khác nhau với công nghệ đổi màu khi được chiếu dưới tia UV. Nổi bật ở mặt lưng này còn là hệ thống camera kép gồm ống kính góc rộng 64MP và góc siêu rộng 8MP.</p>

<img src="./images/News10/news10-pic2.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption"></figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Ở mặt trước, vivo trang bị cho V29e màn hình kích thước 6,78 inch, sử dụng tấm nền AMOLED cong 2 cạnh bên. Màn hình này có độ phân giải FHD+ kèm tần số quét 120Hz, sử dụng thiết kế "nốt ruồi" với camera selfie 50MP.</p>
<p class="paragraph">Về hiệu năng, vivo V29e trang bị vi xử lý Snapdragon 695 phổ biến cho hiệu năng khá. Máy có RAM 8GB, bộ nhớ lưu trữ 128GB/256GB, hỗ trợ thẻ nhớ microSD mở rộng. Viên pin của máy có dung lượng 5000mAh, hỗ trợ sạc nhanh 44W.</p>

<img src="./images/News10/news10-pic3.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption"></figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">vivo V29e lên kệ tại Ấn Độ với 2 màu đỏ và xanh, giá kkhowri điểm từ 26.999 INR, tương đương 7,9 triệu đồng.</p>


@code {

}
