@page "/News15"
@layout NewsLayout

<!-- Tiêu đề bài viết -->
<h1>iFixit dùng kính hiển vi để phân tích khả năng sửa chữa của iPhone 15, chấm 4 điểm</h1>
<p><strong>Tác giả:</strong> Tuấn Nguyễn - <strong>Ngày:</strong> 12/10/2023</p>


<h3 class="paragraph">Ở độ phóng đại 7000x, những linh kiện thông thường trên iPhone 15 cũng trở nên kỳ lạ.</h3>


<!-- Nội dung bài viết -->
<p class="paragraph">iFixit là cái tên đã quá nổi tiếng với những video “mổ xẻ” smartphone, đồng thời đánh giá khả năng sửa chữa của thiết bị. Với chiếc iPhone 15 mới ra mắt, iFixit đã nghĩ ra một phương pháp khá thú vị để soi vào thế giới hiển vi bên trong máy.</p>
<p class="paragraph">Bằng cách sử dụng kính hiển vi công nghiệp DSX1000, quá trình mổ xẻ iPhone 15 của iFixit cho chúng ta thấy bên trong của chiếc điện thoại theo cách mà trước đây chưa từng được biết, từ độ phức tạp tại các điểm liên kết, cho đến phóng to 7000x vào cảm biến camera chính 48MP.</p>


<img src="./images/News15/news15-pic1.png" 
     alt="Hình ảnh mô tả" 
     class="small-image"/>
<figcaption class="caption">DSX1000.</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Hãy quên đi những hình ảnh bung máy mà bạn thường thấy. Ngay cả những linh kiện quen thuộc cũng trông rất hấp dẫn khi bạn nhìn chúng dưới kính hiển vi.</p>
<p class="paragraph">Hệ thống chống rung quang học</p>
<p class="paragraph">Chụp ảnh trong điều kiện thiếu sáng hoặc cầm điện thoại quay video là rất khó. Để ổn định hình ảnh, bạn có thể thực hiện bằng kỹ thuật số hoặc quang học (hoặc cả hai). Với ổn định hình ảnh quang học (OIS), hay còn gọi là chống rung quang học, thì cảm biến vẫn có thể cho hình ảnh ổn định trước những rung lắc nhỏ qua một hệ thống đặc biệt.</p>

<img src="./images/News15/news15-pic2.gif"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Đó là tính năng ổn định dịch chuyển cảm biến mà iPhone 15 đang sử dụng để ổn định camera.</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Máy ảnh sử dụng bốn nam châm điện để dịch chuyển cảm biến, giúp hình ảnh giữ nguyên vị trí. Công nghệ này có giới hạn về mức độ ổn định - nó chỉ có thể dịch chuyển cảm biến theo hai trục, điều chỉnh những rung lắc nhỏ.</p>
<p class="paragraph">iFixit cho biết đây là lần đầu tiên họ thấy hệ thống này hoạt động một cách chi tiết như vậy, và có lẽ bạn cũng thế.</p>
<p class="paragraph">Trung tâm của cảm biến </p>
<p class="paragraph">Camera chính của iPhone 15 có cảm biến CMOS 48 megapixel. </p>
<p class="paragraph">CMOS là viết tắt của Complimentary Metal Oxide Semiconductor, hay công nghệ kim loại-oxit-bán dẫn bù. Chuỗi thuật ngữ kỹ thuật dài này mô tả công nghệ được sử dụng để chế tạo cảm biến. CMOS đã trở thành phương pháp chủ đạo để chế tạo chip và cảm biến hiện đại.</p>

<img src="./images/News15/news15-pic3.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Cận cảnh cảm biến 48MP.</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Một pixel trên cảm biến máy ảnh được gọi là photosite (điểm thu sáng). Đó là một khối mạch thu ánh sáng trong một khu vực nhỏ trên cảm biến. Mỗi photosite có một microlens với bộ lọc màu. Bên dưới đó, có một điốt quang nhạy sáng được bao quanh bởi mạch điện hỗ trợ đọc điốt quang.</p>
<p class="paragraph">Bạn có thể nghĩ photosite giống như một mạng lưới rộng lớn các trạm thời tiết đo mưa nhỏ, mỗi trạm có một thùng thu gom. Khi trời mưa, các thùng thu thập những hạt mưa. Mạch điện của trạm sẽ đọc mức độ đầy của thùng, truyền giá trị đó đến bộ xử lý trung tâm.</p>

<img src="./images/News15/news15-pic4.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Ảnh phóng to 1640x cho thấy mỗi ô vuông nhỏ chứa 2x2 photosite, hay còn gọi là một cụm quad-pixel</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Cảm biến camera chính của iPhone 15 có 48 triệu photosite này, nhưng khả năng thu ánh sáng ở mỗi photosite rất nhỏ. Tương tự như lượng mưa, nếu có lượng mưa lớn, rất có thể mỗi thùng sẽ thu được một lượng nước lớn. Về mặt nhiếp ảnh, điều này tương đương với một môi trường sáng sủa, trong đó mỗi photosite có thể xuất ra dữ liệu hình ảnh cao. Nếu có đủ ánh sáng, số điểm ảnh cao hơn có thể mang lại những bức ảnh chi tiết hơn.</p>
<p class="paragraph">Tuy nhiên, nếu lượng mưa ít - tương đương với môi trường tối - thì những chiếc thùng nhỏ sẽ trở thành vấn đề: chúng không thể thu đủ nước để đo chính xác. Về mặt hình ảnh, điều này có nghĩa là ảnh bị nhiễu hạt trong điều kiện thiếu sáng.</p>
<p class="paragraph">Vậy làm thế nào để khắc phục vấn đề này? Chuyện gì sẽ xảy ra nếu bốn trạm đổ nước thu được vào một thùng? Điều này sẽ làm cho việc đo lượng nước trở nên dễ dàng hơn. </p>

<img src="./images/News15/news15-pic5.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Các photoshite bị mờ bởi một lớp bộ lọc màu và microlens. Bức ảnh này được chụp độ phóng đại 7000x!</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Phương pháp hợp nhất này được gọi là gộp pixel và iPhone chắc chắn không phải là thiết bị đầu tiên áp dụng công nghệ này. Thiết kế này khá khéo léo trong việc chống nhiễu trong ánh sáng yếu, nhưng không thể vượt qua rào cản vật lý. Photosite càng lớn thì bạn càng thu thập được nhiều photon và bạn sẽ nhận được hình ảnh càng đẹp. </p>
<p class="paragraph">Nhưng Apple đã cắt giảm chi phí trên iPhone cơ bản và thu nhỏ cảm biến này xuống cho phù hợp. Đây là lý do tại sao, mặc dù cả mẫu 15 và 15 Pro đều có camera 48 megapixel nhưng chúng sẽ không có hiệu suất thu ánh sáng như nhau. Nhóm 4 pixel 2,0 micromet nhỏ hơn trong iPhone 15 sẽ không hoạt động tốt trong điều kiện ánh sáng yếu khi so sánh với nhóm 4 pixel 2,44 micromet có trong cảm biến 15 Pro.</p>

<img src="./images/News15/news15-pic6.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Cảm biến của iPhone 15 Pro (trái) so với iPhone 15.</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Phần còn lại của video khá giống với các video mổ xẻ khác, với một số cảnh phóng to vào linh kiện ví dụ như nam châm điện bên trong Taptic Engine hay lớp keo dán mặt sau máy. </p>

<img src="./images/News15/news15-pic7.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Nam châm điện bên trong Taptic Engine.</figcaption>

<img src="./images/News15/news15-pic8.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Lớp keo dán mặt sau máy</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">iFixit cho iPhone 15 điểm khả năng sửa chữa là 4/10.  </p>


<!-- Chân bài viết -->
<hr class="black-line">
<h4>Bài viết tiếp theo:</h4>
<a href=" ./NextArticle" class="link">=> iPhone 15 bị lỗi quá nhiệt trên diện rộng, chuyên gia nói ‘không thể khắc phục được’ trừ khi Apple chịu làm 1 điều</a>


@code {

}
