@page "/News8"
@layout NewsLayout

<!-- Tiêu đề bài viết -->
<h1>Xiaomi ra mắt máy tính bảng giá rẻ: Màn hình 11 inch, pin 8000mAh, giá dưới 5 triệu đồng</h1>
<p><strong>Tác giả:</strong> Thế Duyệt - <strong>Ngày:</strong> 02/10/2023</p>


<h3 class="paragraph">Redmi Pad SE là mẫu máy tính bảng thuộc phân khúc giá rẻ tới từ Xiaomi, nổi bật với ưu điểm có màn hình lớn, pin dung lượng cao và giá dễ tiếp cận.</h3>


<!-- Nội dung bài viết -->
<p class="paragraph">Xiaomi mới đây đã giới thiệu mẫu máy tính bảng mới tại thị trường Việt Nam có tên Redmi Pad SE. Đây là chiếc tablet thuộc phân khúc giá rẻ, trang bị nhiều ưu điểm đáp ứng nhu cầu sử dụng của đại đa số người dùng.</p>
<p class="paragraph">Dù có giá thành dễ tiếp cận tuy nhiên toàn bộ thân máy của Redmi Pad SE vẫn được hoàn thiện từ chất liệu kim loại nguyên khối, cụ thể là nhôm ở cả mặt lưng và khung viền. Thiết kế tổng thể có phần giống với dòng Xiaomi Pad cao cấp hơn.</p>


<img src="./images/News8/news8-pic1.png" 
     alt="Hình ảnh mô tả" 
     class="small-image"/>
<figcaption class="caption">Caption</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Ở mặt trước, Redmi Pad SE có màn hình 11 inch, sử dụng tấm nền LCD IPS, độ phân giải 1200 x 1920 kèm tần số quét 90Hz. Màn hình này có độ sáng khoảng 400 nits và có tỷ lệ hiển thị là 16:10. Viền màn hình được thiết kế mỏng đều ở 4 cạnh.</p>
<p class="paragraph">Ở mặt lưng, Redmi Pad SE có camera đơn 8MP để chụp "chống cháy" và một camera selfie 5MP ở mặt trước dùng để gọi điện video. Máy có tới 3 tuỳ chọn màu sắc để người dùng lựa chọn: Tím oải hương, Xám than chì và Xanh bạc hà.</p>

<img src="./images/News8/news8-pic2.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Caption</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Về hiệu năng, Redmi Pad SE trang bị con chip Snapdragon 680, một con chip tầm trung cho hiệu năng khá, đủ đáp nhu cầu sử dụng của người dùng cơ bản. Phiên bản chính hãng Việt Nam có 2 tuỳ chọn RAM là 4GB và 6GB, bộ nhớ lưu trữ 128GB chung cho cả 2 bản. Máy có viên pin 8000mAh, tuy nhiên lại chỉ hỗ trợ sạc 10W chứ không phải sạc nhanh.</p>


<!-- Chân bài viết -->
<hr class="black-line">
<h4>Bài viết tiếp theo:</h4>
<a href="News9" class="link">=> Trên tay smartphone Xiaomi có RAM 24GB, sạc 120W giá chưa tới 12 triệu đồng</a>


@code {

}
