@page "/News11"
@layout NewsLayout

<!-- Tiêu đề bài viết -->
<h1>Realme ra mắt smartphone sạc 240W, chip Snapdragon 8 Gen 2, RAM 24GB, giá chưa tới 13 triệu đồng</h1>
<p><strong>Tác giả:</strong> Thế Duyệt - <strong>Ngày:</strong> 28/08/2023</p>


<h3 class="paragraph">Realme GT5 240W là một trong những chiếc smartphone có hiệu năng mạnh mẽ nhất trong phân khúc giá dưới 13 triệu đồng.</h3>


<!-- Nội dung bài viết -->
<p class="paragraph">Realme mới đây đã giới thiệu chiếc realme GT5 tại thị trường Trung Quốc. Đây là mẫu flagship mới nhất của realme, trang bị loạt ưu điểm về phần cứng như chip Snapdragon 8 Gen 2 mạnh mẽ, RAM lên tới 24GB đi kèm công suất sạc siêu nhanh 240W.</p>


<img src="./images/News11/news11-pic1.png" 
     alt="Hình ảnh mô tả" 
     class="small-image"/>
<figcaption class="caption"></figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">realme GT5 được chia làm 2 phiên bản dựa trên công suất sạc là 150W và 240W. Cả 2 model này về cơ bản giống nhau về ngoại hình, khác biệt chỉ tới từ bộ nhớ và công suất sạc nhanh. Máy có thiết kế khá giống chiếc realme GT Neo 5 ra mắt cách đây nửa năm, gồm mặt lưng kính, khung viền kim loại, cụm camera chính kích thước lớn và có một phần mô hình chip Snapdragon với đèn LED ở bên cạnh.</p>
<p class="paragraph">Ở mặt trước, realme trang bị cho GT5 màn hình 6,74 inch, sử dụng tấm nền AMOLED với độ phân giải 1240 x 2772, tần số quét 144Hz. Màn hình này có thiết kế "nốt ruồi" với camera selfie 16MP, tích hợp cảm biến vân tay quang học phía dưới.</p>

<img src="./images/News11/news11-pic2.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Caption</figcaption>

<img src="./images/News11/news11-pic3.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Caption</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Cụm camera chính của realme GT5 gồm 3 ống kính: góc rộng 50MP sử dụng cảm biến Sony IMX890, góc siêu rộng 8MP và macro 2MP, không có ống kính tele. Chất lượng camera ở mức tốt.</p>

<img src="./images/News11/news11-pic4.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Caption</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Về hiệu năng, realme GT5 đi kèm vi xử lý Snapdragon 8 Gen 2 mạnh mẽ, dung lượng RAM 12GB/16GB, bộ nhớ 256GB/512GB cho mode 150W và 24GB/1TB cho bản 240W. Máy có viên pin 5240mAh, sạc nhanh 150W và 4600mAh, sạc nhanh 240W tương ứng với 2 model.</p>

<img src="./images/News11/news11-pic5.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption"></figcaption>

<p class="paragraph">Về giá bán, realme GT5 lên kệ tại thị trường Trung Quốc với giá bán khởi điểm từ 2999 tệ, tương đương 9,9 triệu đồng cho bản 150W. Tuỳ chọn 240W có giá 3799 tệ, tương đương 12,6 triệu đồng.</p>



@code {

}
