@page "/News5"
@layout NewsLayout

<!-- Tiêu đề bài viết -->
<h1>Ai sắp mua iPhone 15 phải đọc ngay: Thử nghiệm mới vạch trần 2 lỗi bất thường trên phiên bản Pro và Pro Max</h1>
<p><strong>Tác giả:</strong> Mạnh Kiên - <strong>Ngày:</strong> 28/09/2023</p>


<h3 class="paragraph">Các thử nghiệm mới nhất cho thấy iPhone 15 Pro và Pro Max ghi nhận nhiệt độ lên tới 47 độ C, quá nóng để có thể cầm trên tay. Thậm chí, sạc pin qua cổng USB-C mới cũng rất nóng.</h3>


<!-- Nội dung bài viết -->
<p class="paragraph">Dòng iPhone 15 chỉ vừa mới lên kệ nhưng đã có nhiều phàn nàn từ người dùng về việc thiết bị gặp tình trạng nóng bất thường. Các ghi nhận từ người dùng tập trung vào phiên bản iPhone 15 Pro và Pro Max, khiến lý do bị đổi lỗi là chip xử lý A17 Pro mới.</p>
<p class="paragraph">Tuy nhiên, cũng có cũng có các báo cáo về việc điện thoại cũng gặp tình trạng quá nhiệt khi sạc, điều được cho là khá lạ thường bởi công suất sạc tối đa của máy chỉ là 20W, khá thấp so với các đối thủ Android.</p>
<p class="paragraph">Trước tranh cãi này, trang Android Authority đã tiến hành các bài thử nghiệm trên iPhone 15 Pro để xem điều gì đã xảy ra.</p>
<p class="paragraph">Chip A17 Pro của Apple thực sự có vấn đề?</p>
<p class="paragraph">Android Authority đã sử dụng súng đo nhiệt độ để ghi lại nhiệt độ cao nhất ở mặt sau iPhone 15 Pro khi sử dụng các tác vụ khác nhau, cũng như tiến hành các thử nghiệm tương tự trên Google Pixel 7 Pro và Samsung Galaxy S23 Ultra để so sánh.</p>
<p class="paragraph">Tất cả đều không sử dụng ốp lưng, không có tác vụ nền và thời gian hạ nhiệt giữa các lần tiến hành.</p>


<img src="./images/News5/news5-pic1.png" 
     alt="Hình ảnh mô tả" 
     class="small-image"/>
<figcaption class="caption">Nhiệt độ của iPhone 15 Pro trong các bài thử nghiệm lúc nào cũng nóng hơn đối thủ.</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Đầu tiên, iPhone 15 ấm hơn một chút so với S23 Ultra và Pixel 7 Pro khi chạy các tác vụ công việc hàng ngày như phát video và lướt web. Tuy nhiên, biên độ không quá rộng đến mức đáng lo ngại. Mức nhiệt duy trì ở dưới 30 độ C và được coi là bình thường.</p>
<p class="paragraph">Đẩy CPU mạnh hơn với Geekbench 6 cũng ghi nhận tình trạng tương tự. Điện thoại của Apple ấm hơn đối thủ 1 hoặc 2 độ C. iPhone 15 Pro nóng lên khi chạy các tác vụ phức tạp, nhưng không gây khó chịu và cũng không khác biệt quá nhiều so với hai thiết bị cùng so sánh.</p>
<p class="paragraph">Trung bình, iPhone 15 Pro nóng hơn từ 2,5% đến 5% trong các thử nghiệm này.</p>
<p class="paragraph">Tuy nhiên, khi chuyển sang các tác vụ phức tạp hơn, chip A17 Pro lộ rõ vấn đề. Khi GPU sáu lõi hoạt động, nhiệt độ tăng vọt nhanh chóng. IPhone 15 Pro vượt qua mốc 40 độ C trong vòng năm phút sau khi chạy bài kiểm tra 3DMark Wild Life.</p>
<p class="paragraph">Khi kết thúc quá trình chạy 20 phút, nhiệt độ cao nhất trên điện thoại được ghi nhận là 47 độ C, quá nóng để có thể cầm trên tay. Galaxy S23 Ultra cũng tăng nhiệt, nhưng iPhone 15 Pro nóng hơn điện thoại này đến 5,7%.</p>
<p class="paragraph">Trên thực tế, mọi thiết bị cầm tay đạt mức nhiệt gần 50 độ C dù là hoạt động với bất kỳ tác vụ nào đều đáng lo ngại.</p>
<p class="paragraph">Thử nghiệm quay video 4K/60 cho thấy sự khác biệt đáng kể nhất. Chỉ sau năm phút, iPhone 15 Pro nóng hơn khoảng 7 độ C so với S23 Ultra và nóng hơn 4 độ C so với Pixel 7 Pro, một mẫu điện thoại vốn đã bị coi là quá nóng trước đó.</p>
<p class="paragraph">Nhìn qua kết quả, iPhone 15 Pro luôn nóng hơn Galaxy S23 Ultra và Pixel 7 Pro trong tất cả các thử nghiệm. Đôi khi chênh lệch nhỏ, nhưng xu hướng chung là càng đẩy con chip hoạt động hết công suất, nhiệt độ càng tăng mạnh.</p>
<p class="paragraph">Rõ ràng, những lời phàn nàn về việc iPhone 15 Pro và Pro Max cầm trên tay quá nóng là có cơ sở.</p>


<img src="./images/News5/news5-pic2.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Caption</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Sạc iPhone 15 USB-C cũng nóng</p>
<p class="paragraph">Chip của iPhone 15 Pro nhìn chung gặp vấn đề về nhiệt, vậy còn chuyện nóng lên khi sạc pin thì sao?</p>
<p class="paragraph">Android Authority đã ghi lại nhiệt độ cao nhất của vỏ bên ngoài điện thoại trong lúc sạc, sử dụng bộ cáp sạc USB-C 30W chính thức của Apple.</p>
<p class="paragraph">Dù sạc công suất thấp hơn nhưng iPhone 15 Pro và Pro Max sạc vẫn nóng hơn so với các đối thủ.</p>
<p class="paragraph">So sánh nhiệt độ của iPhone 15 Pro với Samsung Galaxy S23 Ultra là thấy rõ vấn đề. Cần nhớ rằng, mức sạc cao nhất của Apple ở khoảng 20W trong khi S23 Ultra xử lý công suất lên tới 45W.</p>
<p class="paragraph">Nhiệt độ bên trong cao nhất của Samsung là 35,5 độ C thấp hơn so với nhiệt độ của Apple, ước tính đạt khoảng từ 38 độ C đến 40 độ C. Hơn nữa, iPhone 15 Pro cũng ghi nhận tình trạng nóng lên nhanh hơn nhiều, điều cho thấy có vấn đề về tản nhiệt</p>
<p class="paragraph">iPhone 15 có bị quá nhiệt không?</p>
<p class="paragraph">Không thể phủ nhận iPhone 15 Pro trong thử nghiệm nói trên có hiện tượng quá nóng. Mặc dù về mặt lý thuyết, chipset A17 Pro có lợi thế về mặt sản xuất hơn so với các đối thủ.</p>
<p class="paragraph">Con chip được xây dựng trên tiến trình 3nm hiệu quả hơn so với 4nm của Snapdragon 8 Gen 2 bên trong Galaxy S23 Ultra và 5nm của Tensor G2 trên Pixel 7 Pro.</p>
<p class="paragraph">Tuy nhiên, Apple dường như đã tận dụng lợi thế này để đẩy hiệu suất bổ sung (như lõi GPU bổ sung), dẫn đến nhiệt độ cao khi chip làm việc hết công suất</p>
<p class="paragraph">Tương tự, các ghi nhận về sạc của điện thoại cũng đáng thất vọng so với các đối thủ Android hàng đầu. Không chỉ sạc chậm mà điện thoại còn nóng hơn, điều được cho là không tốt cho tuổi thọ pin. Trong đó, iPhone 15 Pro Max gặp vấn đề nặng nhất.</p>


<img src="./images/News5/news5-pic3.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Caption</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Đối với người dùng bình thường, hiện tượng trên không phải vấn đề quá lớn, nhưng các game thủ, người làm các tác vụ nặng có thể cảm thấy khó chịu khi cầm điện thoại trên tay.</p>
<p class="paragraph">Nếu đang nghĩ đến việc sở hữu chiếc iPhone mới nhất, người dùng có lẽ nên đợi để xem Apple có thể giải quyết vấn đề này thế nào trong bản cập nhật phần mềm sắp tới.</p>
<p class="paragraph">Nếu đã sở hữu iPhone 15 Pro, lời khuyên tốt nhất là hãy tháo ốp lưng ra khi sạc và cho điện thoại thời gian hạ nhiệt sau khi chạy các ứng dụng nặng.</p>
<p class="paragraph">Theo nhà phân tích cao cấp Ming-Chi Kuo, vấn đề quá nhiệt của dòng iPhone 15 Pro có thể không liên quan đến con chip mới.</p>
<p class="paragraph">"Nguyên nhân chính có nhiều khả năng là do sự thỏa hiệp trong thiết kế hệ thống nhiệt để đạt được trọng lượng nhẹ hơn, chẳng hạn như giảm diện tích tản nhiệt và sử dụng khung titan, điều tác động tiêu cực đến hiệu suất tản nhiệt".</p>
<p class="paragraph">Nhà phân tích cho rằng Apple sẽ giải quyết vấn đề này thông qua các bản cập nhật phần mềm, nhưng lưu ý rằng hãng chỉ có thể thay đổi bằng cách giảm hiệu suất chip xử lý.</p>
<p class="paragraph">Nếu không giải quyết vấn đề một cách thích hợp, tình trạng quá nhiệt "có thể tác động tiêu cực đến việc xuất xưởng trong suốt vòng đời sản phẩm của dòng iPhone 15 Pro", Kuo nhận định.</p>



<!-- Chân bài viết -->
<hr class="black-line">
<h4>Bài viết tiếp theo:</h4>
<a href="News6" class="link">=> Nokia tung mẫu điện thoại cực khủng, chấp cả vòi phun của lính cứu hỏa, đe dọa đánh bại Samsung</a>


@code {

}
