@page "/News2"
@layout NewsLayout

<!-- Tiêu đề bài viết -->
<h1>iPhone 15 bị lỗi quá nhiệt trên diện rộng, chuyên gia nói ‘không thể khắc phục được’ trừ khi Apple chịu làm 1 điều</h1>
<p><strong>Tác giả:</strong> Đức Nam - <strong>Ngày:</strong> 28/09/2023</p>


<h3 class="paragraph">Apple chưa bao giờ hết rắc rối với những chiếc iPhone mới ra mắt.</h3>


<!-- Nội dung bài viết -->
<p class="paragraph">Ngày càng có nhiều những bài đăng trên mạng phàn nàn về tình trạng quá nhiệt trên iPhone 15 và có vẻ như hiện tượng này xảy ra với tất cả model.</p>
<p class="paragraph">“Chiếc iPhone 15 Pro Max của tôi gần như bị quá nóng để có thể chạm vào khi sạc. Ban đầu tôi tưởng mọi người nói quá nhưng không, nó thực sự không tốt chút nào. Khi mức sạc vượt 70%, chiếc máy có vẻ bớt nóng (vẫn nóng nhưng có thể cầm trên tay được). Ở giai đoạn 25-60% là tệ nhất”, người dùng có nickname Zelbo nói.</p>


<img src="./images/News2/news2-pic1.png" 
     alt="Hình ảnh mô tả" 
     class="small-image"/>
<figcaption class="caption">Một chiếc Iphone vô tri</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Một số người khác cho hay họ gặp tình trạng này ngay cả khi không sạc mà chỉ dùng các tác vụ thông thường như lướt mạng xã hội.</p>
<p class="paragraph">Cần lưu ý rằng hiện tượng iPhone bị nóng trong vòng 24h đầu khi kích hoạt không hiếm, đặc biệt là khi người dùng thực hiện việc cài đặt ban đầu cho máy như khôi phục bản backup trên iCloud. Lúc này, máy có rất nhiều ứng dụng chạy nền.</p>
<p class="paragraph">Tuy nhiên, những báo cáo gần đây, gồm cả phàn nàn từ các reviewer cho thấy máy bị nóng bất thường không liên quan đến cài đặt band dầu.</p>
<p class="paragraph">YouTuber người Hàn Quốc BullsLab đã thử đo nhiệt độ của máy với camera FLIR và khẳng định máy gặp tình trạng quá nhiệt. Trong thử nghiệm của anh ta, nhiệt độ đo được là 46,7 độ C khi chơi game và chạy các bài benchmark.</p>

<img src="./images/News2/news2-pic2.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption"> Nhiệt độ của Iphone khi test </figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Một số người cho biết những chiếc iPhone 15 Pro của họ có thể nóng đến mức gây ra bỏng cấp độ 1. Một số khác khẳng định khi chiếc máy bắt đầu nóng lên, họ không thể cầm máy nếu không có ốp.</p>
<p class="paragraph">Ban đầu, một số ý kiến cho rằng con chip A17 Pro do TSMC sản xuất là nguyên nhân chính dẫn đến hiện tượng nóng máy nhưng nhà phân tích Ming-Chi Kuo – người thường xuyên cung cấp các thông tin về Apple lại có lập luận khác.</p>
<p class="paragraph">Ông tin rằng điều này xảy ra là do Apple. Theo đó, một số quyết định về thiết kế của Apple để giúp máy nhẹ hơn đã phản tác dụng và khiến chiếc máy khó tản nhiệt hơn. iPhone 15 rõ ràng có diện tích tản nhiệt nhỏ hơn và khung titan đã làm giảm hiệu suất tản nhiệt của dòng sản phẩm mới.</p>
<p class="paragraph">Kuo tin rằng Apple sẽ sớm tung ra bản cập nhật phần mềm để giải quyết vấn đề này nhưng tình trạng nóng máy có thể không biến mất hoàn toàn. Để thực sự khắc phục, Apple có thể phải hạ thấp hiệu năng của chip A17 Pro , vốn không nhanh hơn nhiều so với chip A16 Bionic.</p>
<p class="paragraph">Kuo còn khẳng định nếu Apple không giải quyết vấn đề một cách hợp lý, nó có thể ảnh hưởng đến nhu cầu mua iPhone của người dùng.</p>
<p class="paragraph">Vấn đề quá nhiệt không phải rắc rối duy nhất với iPhone 15 của Apple. Một số máy ngay khi bán ra đã bị lỗi về thẩm mĩ, đồng thời cũng có những lo ngại cho rằng chúng kém bền hơn so với dòng iPhone 14 Pro/Pro Max.</p>


<!-- Chân bài viết -->
<hr class="black-line">
<h4>Bài viết tiếp theo:</h4>
<a href="News3" class="link">=> Xiaomi 13T series chính thức: Camera Leica, chống nước IP68, giá từ 12,99 triệu đồng"</a>


@code {

}
