@page "/News6"
@layout NewsLayout

<!-- Tiêu đề bài viết -->
<h1>Nokia tung mẫu điện thoại cực khủng, chấp cả vòi phun của lính cứu hỏa, đe dọa đánh bại Samsung</h1>
<p><strong>Tác giả:</strong> Nhật Minh - <strong>Ngày:</strong> 28/08/2023</p>


<h3 class="paragraph">"Nó bền tới mức có thể chịu được nước từ vòi phun với áp suất lên tới 100 bar và nhiệt độ nước lên tới 80 độ C" – Đại diện Nokia nói về mẫu điện thoại mới.</h3>


<!-- Nội dung bài viết -->
<p class="paragraph">Nokia thông báo sẽ phát hành mẫu điện thoại thông minh mới có thể vượt qua những thử thách khắc nghiệt nhất.</p>
<p class="paragraph">Nếu bạn đã nhiều lần làm vỡ smartphone của mình thì Nokia có thể giúp bạn khắc phục điều đó với chiếc XR21 siêu bền bỉ.</p>
<p class="paragraph">Mẫu smartphone này được làm từ vật liệu cứng cáp với khung nhôm, thiết kế được bao phủ bởi kính cường lực Corning Gorilla Glass Victus. Nokia cho biết, XR21 đã trải qua một số bài kiểm tra chuyên sâu bao gồm thả rơi, ngâm trong nước, thậm chí chịu lực nước rất lớn từ vòi phun mạnh như thiết bị của lính cứu hỏa.</p>


<img src="./images/News6/news6-pic1.png" 
     alt="Hình ảnh mô tả" 
     class="small-image"/>
<figcaption class="caption">Caption</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Dù với tất cả những bài kiểm tra khắc nghiệt đó, Nokia vẫn tự tin rằng chiếc XR21 của mình sống sốt "không một vết xước".</p>
<p class="paragraph">Để giúp người dùng yên tâm hơn, nhà cung cấp cho biết họ sẽ bảo hành 3 năm cho phần cứng điện thoại và bảo hành 1 năm cho màn hình của XR21. Điều đó có nghĩa người dùng có thể sửa chữa các vết nứt vỡ miễn phí nếu máy bị hỏng.</p>
<p class="paragraph">Cùng với thiết kế chắc chắn, XR21 còn có tất cả các tính năng thông thường mà bạn mong muốn tìm thấy trên một chiếc điện thoại thông minh hiện đại.</p>
<p class="paragraph">Người dùng sẽ được tận hưởng màn hình FHD+ 6,49 inch pixel với tốc độ làm mới lên tới 120Hz. Ngoài ra điện thoại còn có camera kép với chế độ chụp đêm chuyên dụng, cho phép chụp những bức ảnh chất lượng cao dù mặt trời đã lặn.</p>

<img src="./images/News6/news6-pic2.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Caption</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">XR21 trang bị bộ vi xử lý Snapdragon, pin 4800mAh và dung lượng lưu trữ 128GB. Các tính năng bổ sung khác bao gồm sạc nhanh, jack cắm 3,5mm dành cho tai nghe và 3 năm nâng cấp hệ điều hành để đảm bảo thiết bị của bạn luôn cập nhật các tính năng mới nhất từ Google.</p>
<p class="paragraph">Nokia còn có các nút "Truy cập nhanh" (Quick Access) cho phép người dùng truy cập các tính năng yêu thích mà không cần phải chạm vào màn hình.</p>
<p class="paragraph">Hiện XR21 có hai màu sắc để lựa chọn, gồm màu xanh và màu đen.</p>
<p class="paragraph">"Đây là phiên bản điện thoại thông minh của mẫu Nokia 3310 'nồi đồng cối đá' trước đây" – Adam Ferguson, Trưởng bộ phận Tiếp thị Sản phẩm của điện thoại Nokia cho biết – "Nó bền tới mức có thể chịu được nước từ vòi phun với áp suất lên tới 100 bar và nhiệt độ nước lên tới 80 độ C. Chúng tôi tin tưởng vào 'người hùng' của mình tới mức sẵn sàng cung cấp bảo hành thay thế màn hình trong 1 năm nếu điều tồi tệ nhất xảy ra".</p>
<p class="paragraph">XR21 sẽ "lên kệ" vào đầu tháng 6 tới nhưng hiện chưa rõ kế hoạch phân phối trên thị trường quốc tế của HMD Global. Dự kiến, XR21 sẽ có giá từ 499 bảng Anh (tương đương 14,72 triệu đồng).</p>


<!-- Chân bài viết -->
<hr class="black-line">
<h4>Bài viết tiếp theo:</h4>
<a href="News7" class="link">=> 'Mổ xẻ' mẫu G22 cực dị của Nokia: Giá chưa đến 4 triệu đồng nhưng có nên mua? – Đáp án nằm ở 1 chi tiết ít người chú ý</a>


@code {

}
