@page "/News18"
@layout NewsLayout

<!-- Tiêu đề bài viết -->
<h1>iPhone 15 vừa mua đã hỏng chỉ vì... xe BMW</h1>
<p><strong>Tác giả:</strong> Vũ Quang - <strong>Ngày:</strong> 02/10/2023</p>


<h3 class="paragraph">Nếu bạn sở hữu iPhone 15 và xe BMW, đây là điều bạn nên tránh nếu không muốn làm ảnh hưởng tới chiếc iPhone.</h3>


<!-- Nội dung bài viết -->
<p class="paragraph">Trong tuần qua, một số chủ sở hữu xe BMW đã phàn nàn rằng chip NFC trên iPhone 15 của họ không còn hoạt động sau khi sạc thiết bị bằng đế sạc không dây của xe. Những khách hàng bị ảnh hưởng cho biết iPhone chuyển sang chế độ khôi phục dữ liệu với màn hình trắng và chip NFC không còn hoạt động sau khi thiết bị khởi động lại.</p>
<p class="paragraph">Trong iPhone, chip NFC hỗ trợ các tính năng như Apple Pay và chìa khóa ô tô kỹ thuật số. Người dùng bị ảnh hưởng nhận được thông báo lỗi "Không thể thiết lập Apple Pay" trong ứng dụng Wallet (Ví) và dường như không có cách nào để khắc phục sự cố. Một số khách hàng cho biết Apple đã thay thế iPhone của họ sau khi xác nhận chip NFC bị lỗi, nhưng chiếc iPhone sau đó cũng dễ gặp vấn đề tương tự. </p>


<img src="./images/News18/news18-pic1.png" 
     alt="Hình ảnh mô tả" 
     class="small-image"/>
<figcaption class="caption">Thông báo Apple Pay bị lỗi sau khi sạc không dây trên xe BMW</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph">Mặc dù các khiếu nại cho đến nay đều đến từ người dùng iPhone 15 Pro và iPhone 15 Pro Max, nhưng có thể iPhone 15 và iPhone 15 Plus cũng bị ảnh hưởng. Vì vậy chủ sở hữu của bất kỳ mẫu iPhone 15 nào cũng nên thận trọng cho đến khi vấn đề này được giải quyết.</p>
<p class="paragraph">Hiện chưa rõ nguyên nhân cụ thể của vấn đề là gì, có bao nhiêu khách hàng bị ảnh hưởng và mẫu xe BMW nào gây ra vấn đề.</p>


<!-- Chân bài viết -->
<hr class="black-line">
<h4>Bài viết tiếp theo:</h4>
<a href=" ./NextArticle" class="link">=> iPhone 15 bị lỗi quá nhiệt trên diện rộng, chuyên gia nói ‘không thể khắc phục được’ trừ khi Apple chịu làm 1 điều</a>


@code {

}
