@page "/BaoDuong"
@layout HomeLayout
<main>
    <div class="container pt-5">
        <div class="container">
            <div class="row">

                <a href="News15" class="news-item">
                    <div>
                        <img src="images/News15/news15-pic1.png" alt="" class="img-fluid float-left">
                        <h4> iFixit dùng kính hiển vi để phân tích khả năng sửa chữa của iPhone 15, chấm 4 điểm</h4>
                        <p>Ở độ phóng đại 7000x, những linh kiện thông thường trên iPhone 15 cũng trở nên kỳ lạ.</p>
                    </div>
                </a>

                <a href="News16" class="news-item">
                    <div>
                        <img src="images/News16/news16-pic1.png" alt="" class="img-fluid float-left">
                        <h4> Thả rơi và nhúng nước iPhone 15 Pro Max và một loạt smartphone đắt tiền nhất, người thử nghiệm nhận kết quả bất ngờ</h4>
                        <p>Mới đây, Allstate Protection Plans drop test gây chú ý khi tiến hành thả rơi và ngâm nước một loạt smartphone đắt tiền nhất hiện tại.</p>
                    </div>
                </a>

                <a href="News17" class="news-item">
                    <div>
                        <img src="images/News17/news17-pic1.png" alt="" class="img-fluid float-left">
                        <h4> Những thứ không bao giờ nên lưu trữ trên điện thoại để tránh bị rò rỉ thông tin cá nhân</h4>
                        <p>Hiện nay, nhiều người thường lưu trữ một số thông tin cá nhân trên điện thoại.</p>
                    </div>
                </a>

                <a href="News18" class="news-item">
                    <div>
                        <img src="images/News18/news18-pic1.png" alt="" class="img-fluid float-left">
                        <h4> iPhone 15 vừa mua đã hỏng chỉ vì... xe BMW</h4>
                        <p>Nếu bạn sở hữu iPhone 15 và xe BMW, đây là điều bạn nên tránh nếu không muốn làm ảnh hưởng tới chiếc iPhone.</p>
                    </div>
                </a>

                <a href="News19" class="news-item">
                    <div>
                        <img src="images/News19/news19-pic1.png" alt="" class="img-fluid float-left">
                        <h4> iOS 17.0.3: iPhone hết nóng nhưng hiệu năng có bị giảm sút?</h4>
                        <p>Apple chính thức tung bản cập nhật iOS 17.0.3 để xử lý tình trạng quá nhiệt trên dòng iPhone 15 Pro và 15 Pro Max</p>
                    </div>
                </a>

                <a href="News20" class="news-item">
                    <div>
                        <img src="images/News20/news20-pic1.png" alt="" class="img-fluid float-left">
                        <h4> Điện thoại sạc nhanh hơn khi ở chế độ tiết kiệm pin?</h4>
                        <p>"Điện thoại có sạc nhanh hơn khi ở chế độ tiết kiệm pin không?" là câu hỏi hầu hết ai cũng thắc mắc.</p>
                    </div>
                </a>

                <a href="News21" class="news-item">
                    <div>
                        <img src="images/News21/news21-pic1.png" alt="" class="img-fluid float-left">
                        <h4> Bao lâu nên khởi động lại smartphone một lần?</h4>
                        <p>Khởi động lại điện thoại giúp cải thiện hiệu suất, chạy mượt, tăng tuổi thọ máy, tuy nhiên nhiều người không biết bao lâu nên khởi động lại máy một lần.</p>
                    </div>
                </a>
               
                <div class="next-pre">
                    <a href="Home1" class="previous-page"> Trang trước </a>
                    <a href="trang-tiep-theo.html" class="next-page"> Trang tiếp theo </a>
                </div>

            </div>
        </div>
    </div>
</main>