@page "/BaoDuong2"
@layout AdsRegPostLayout
<main>
    <div class="container pt-5">
        <div class="container">
            <div class="row">

                <a href="News25" class="news-item">
                    <div>
                        <img src="images/News25/news25-pic1.png" alt="" class="img-fluid float-left">
                        <h4> Smartphone Android cao cấp sẽ bị đánh giá như thế nào nếu có cấu hình ngang iPhone 15</h4>
                        <p>Câu chuyện giả tưởng tại một chiều không gian khác, khi thị trường năm 2023 xuất hiện một chiếc smartphone Android cao cấp có cấu hình tương đương iPhone 15.</p>
                    </div>
                </a>
               
                <div class="next-pre">
                    <a href="BaoDuong" class="previous-page"> Trang trước </a>
                    <a href="trang-tiep-theo.html" class="next-page"> Trang tiếp theo </a>
                </div>

            </div>
        </div>
    </div>
</main>