@page "/Home2"
@layout AdsRegPostLayout
<main>
    <div class="container pt-5">
        <div class="container">
            <div class="row">

                <a href="News11" class="news-item">
                    <div>
                        <img src="images/News11/news11-pic1.png" alt="" class="img-fluid float-left">
                        <h4> Realme ra mắt smartphone sạc 240W, chip Snapdragon 8 Gen 2, RAM 24GB, giá chưa tới 13 triệu đồng</h4>
                        <p>CRealme GT5 240W là một trong những chiếc smartphone có hiệu năng mạnh mẽ nhất trong phân khúc giá dưới 13 triệu đồng.</p>
                    </div>
                </a>

                <a href="News15" class="news-item">
                    <div>
                        <img src="images/News15/news15-pic1.png" alt="" class="img-fluid float-left">
                        <h4> iFixit dùng kính hiển vi để phân tích khả năng sửa chữa của iPhone 15, chấm 4 điểm</h4>
                        <p>Ở độ phóng đại 7000x, những linh kiện thông thường trên iPhone 15 cũng trở nên kỳ lạ.</p>
                    </div>
                </a>

                <a href="News12" class="news-item">
                    <div>
                        <img src="images/News12/news12-pic2.png" alt="" class="img-fluid float-left">
                        <h4> OPPO ra mắt Find N3 Flip: Smartphone "vỏ sò" đầu tiên có 3 camera chính, giá rẻ hơn Galaxy Z Flip5</h4>
                        <p>Thế hệ smartphone gập "vò sỏ" tiếp theo của OPPO trang bị những nâng cấp đáng kể về camera và hiệu năng.</p>
                    </div>
                </a>

                <a href="News16" class="news-item">
                    <div>
                        <img src="images/News16/news16-pic1.png" alt="" class="img-fluid float-left">
                        <h4> Thả rơi và nhúng nước iPhone 15 Pro Max và một loạt smartphone đắt tiền nhất, người thử nghiệm nhận kết quả bất ngờ</h4>
                        <p>Mới đây, Allstate Protection Plans drop test gây chú ý khi tiến hành thả rơi và ngâm nước một loạt smartphone đắt tiền nhất hiện tại.</p>
                    </div>
                </a>

                <a href="News13" class="news-item">
                    <div>
                        <img src="images/News13/news13-pic1.png" alt="" class="img-fluid float-left">
                        <h4> Huawei ra mắt Mate60 Pro: Màn hình 3 "nốt ruồi", hỗ trợ 5G, giá 23 triệu đồng</h4>
                        <p>Mate60 Pro đánh dấu sự trở lại của 5G trên các smartphone Huawei sau nhiều năm cấm vận.</p>
                    </div>
                </a>

                <a href="News17" class="news-item">
                    <div>
                        <img src="images/News17/news17-pic1.png" alt="" class="img-fluid float-left">
                        <h4> Những thứ không bao giờ nên lưu trữ trên điện thoại để tránh bị rò rỉ thông tin cá nhân</h4>
                        <p>Hiện nay, nhiều người thường lưu trữ một số thông tin cá nhân trên điện thoại.</p>
                    </div>
                </a>

                <a href="News14" class="news-item">
                    <div>
                        <img src="images/News14/news14-pic1.png" alt="" class="img-fluid float-left">
                        <h4> Samsung ra mắt điện thoại pin 6000mAh, màn hình 120Hz, camera 50MP, giá 7,9 triệu đồng</h4>
                        <p>Galaxy M34 5G có ưu điểm mạnh mẽ về thời lượng pin, màn hình đẹp kèm camera chụp ảnh đẹp.</p>
                    </div>
                </a>

                <a href="News18" class="news-item">
                    <div>
                        <img src="images/News18/news18-pic1.png" alt="" class="img-fluid float-left">
                        <h4> iPhone 15 vừa mua đã hỏng chỉ vì... xe BMW</h4>
                        <p>Nếu bạn sở hữu iPhone 15 và xe BMW, đây là điều bạn nên tránh nếu không muốn làm ảnh hưởng tới chiếc iPhone.</p>
                    </div>
                </a>

                <a href="News19" class="news-item">
                    <div>
                        <img src="images/News19/news19-pic1.png" alt="" class="img-fluid float-left">
                        <h4> iOS 17.0.3: iPhone hết nóng nhưng hiệu năng có bị giảm sút?</h4>
                        <p>Apple chính thức tung bản cập nhật iOS 17.0.3 để xử lý tình trạng quá nhiệt trên dòng iPhone 15 Pro và 15 Pro Max</p>
                    </div>
                </a>

                <a href="News20" class="news-item">
                    <div>
                        <img src="images/News20/news20-pic1.png" alt="" class="img-fluid float-left">
                        <h4> Điện thoại sạc nhanh hơn khi ở chế độ tiết kiệm pin?</h4>
                        <p>"Điện thoại có sạc nhanh hơn khi ở chế độ tiết kiệm pin không?" là câu hỏi hầu hết ai cũng thắc mắc.</p>
                    </div>
                </a>
               
                <div class="next-pre">
                    <a href="Home1" class="previous-page"> Trang trước </a>
                    <a href="Home3" class="next-page"> Trang tiếp theo </a>
                </div>

            </div>
        </div>
    </div>
</main>