@page "/Index"
@layout _Layout

@* <PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<NavLink href="/about">About</NavLink> *@

<h3> Đây là một bài viết mẫu</h3>
<strong> Đây là một chỉ mục</strong>
<p>Đây là một đoạn văn</p>