@page "/GroupOfNews/News_Template"
@layout NewsLayout

<!-- Tiêu đề bài viết -->
<h1>iPhone 15 bị lỗi quá nhiệt trên diện rộng, chuyên gia nói ‘không thể khắc phục được’ trừ khi Apple chịu làm 1 điều</h1>
<p><strong>Tác giả:</strong> Đức Nam - <strong>Ngày:</strong> 28/09/2023</p>


<h3 class="paragraph"></h3>


<!-- Nội dung bài viết -->
<p class="paragraph"></p>
<p class="paragraph"></p>
<p class="paragraph"></p>


<img src="./images/News1/news1-pic1.png" 
     alt="Hình ảnh mô tả" 
     class="small-image"/>
<figcaption class="caption">Caption</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph"></p>
<p class="paragraph"></p>

<img src="./images/News1/news1-pic2.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Caption</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph"></p>
<p class="paragraph"></p>

<img src="./images/News1/news1-pic3.png"
     alt="Hình ảnh mô tả"
     class="small-image" />
<figcaption class="caption">Caption</figcaption>

<!---------------------------------------------------------------->

<p class="paragraph"></p>
<p class="paragraph"></p>
<p class="paragraph"></p>


<!-- Chân bài viết -->
<hr class="black-line">
<h4>Bài viết tiếp theo:</h4>
<a href=" ./NextArticle" class="link">=> iPhone 15 bị lỗi quá nhiệt trên diện rộng, chuyên gia nói ‘không thể khắc phục được’ trừ khi Apple chịu làm 1 điều</a>


@code {

}
