@page "/News1"
@layout NewsLayout

<h1>Không có chuyện bộ khung iPhone 15 Pro "mạ titan"</h1>
<h2>Dù khó có thể phân biệt được bằng mắt thường, nhưng clip bóc tách iPhone 15 Pro của một YouTuber giúp người dùng thấy ấn tượng thế nào về độ dày của lớp Titan trong iPhone 15 Pro.</h2>
<p>Một trong các vấn đề gây tranh cãi nhất đối với người dùng Việt kể từ khi iPhone 15 Pro và Pro Max ra mắt lại là bộ khung titan của bộ đôi smartphone mới này. Trong sự kiện, Apple khẳng định các iPhone 15 cao cấp là những iPhone đầu tiên được trang bị bộ khung làm bằng hợp kim Titan Hạng 5 (chính xác hơn là hợp kim Ti-6Al-4V), tương tự như loại vật liệu được sử dụng trong chế tạo máy bay Boeing hay ngành hàng không vũ trụ.</p>
<p>Tuy nhiên, nhiều người cho rằng thực chất bộ khung này chỉ làm bằng kim loại thông thường và được mạ một lớp Titan bên ngoài. Quả thật nếu nhìn bằng mắt thường cùng với lớp màu bao phủ ngoài thân máy, thật khó phân biệt được 2 loại vật liệu này với nhau. Nhưng mới đây, kênh YouTube JerryRigEverything đã có màn mổ xẻ chiếc iPhone 15 Pro Max vừa ra mắt, để người dùng có cái nhìn rõ ràng hơn về loại vật liệu làm nên bộ khung của thiết bị này.</p>

@code {

}
