@page "/PhoneNgon"
@layout HomeLayout
<main>
    <div class="container pt-5">
        <div class="container">
            <div class="row">

                <a href="News3" class="news-item">
                    <div>
                        <img src="images/News3/news3-pic2.png" alt="" class="img-fluid float-left">
                        <h4> Xiaomi 13T series chính thức: Camera Leica, chống nước IP68, giá từ 12,99 triệu đồng</h4>
                        <p> Xiaomi 13T series là dòng sản phẩm T-series đầu tiên của Xiaomi được trang bị camera Leica chất lượng cao.</p>
                    </div>
                </a>

                <a href="News7" class="news-item">
                    <div>
                        <img src="images/News7/news7-pic1.png" alt="" class="img-fluid float-left">
                        <h4> 'Mổ xẻ' mẫu G22 cực dị của Nokia: Giá chưa đến 4 triệu đồng nhưng có nên mua?</h4>
                        <p>Nokia G22 trở thành cái tên thu hút nhiều sự chú ý bởi người dùng có thể tự sửa chữa điện thoại một cách dễ dàng.</p>
                    </div>
                </a>

                <a href="News8" class="news-item">
                    <div>
                        <img src="images/News8/news8-pic1.png" alt="" class="img-fluid float-left">
                        <h4> Xiaomi ra mắt máy tính bảng giá rẻ: Màn hình 11 inch, pin 8000mAh, giá dưới 5 triệu đồng</h4>
                        <p>Redmi Pad SE là mẫu máy tính bảng thuộc phân khúc giá rẻ tới từ Xiaomi</p>
                    </div>
                </a>

                <a href="News9" class="news-item">
                    <div>
                        <img src="images/News9/news9-pic1.png" alt="" class="img-fluid float-left">
                        <h4> Trên tay smartphone Xiaomi có RAM 24GB, sạc 120W giá chưa tới 12 triệu đồng</h4>
                        <p>Redmi K60 Ultra là mẫu smartphone rẻ nhất trên thị trường trang bị RAM lên tới 24GB</p>
                    </div>
                </a>

                <a href="News11" class="news-item">
                    <div>
                        <img src="images/News11/news11-pic1.png" alt="" class="img-fluid float-left">
                        <h4> Realme ra mắt smartphone sạc 240W, chip Snapdragon 8 Gen 2, RAM 24GB, giá chưa tới 13 triệu đồng</h4>
                        <p>CRealme GT5 240W là một trong những chiếc smartphone có hiệu năng mạnh mẽ nhất trong phân khúc giá dưới 13 triệu đồng.</p>
                    </div>
                </a>

                <a href="News13" class="news-item">
                    <div>
                        <img src="images/News13/news13-pic1.png" alt="" class="img-fluid float-left">
                        <h4> Huawei ra mắt Mate60 Pro: Màn hình 3 "nốt ruồi", hỗ trợ 5G, giá 23 triệu đồng</h4>
                        <p>Mate60 Pro đánh dấu sự trở lại của 5G trên các smartphone Huawei sau nhiều năm cấm vận.</p>
                    </div>
                </a>

                <a href="News14" class="news-item">
                    <div>
                        <img src="images/News14/news14-pic1.png" alt="" class="img-fluid float-left">
                        <h4> Samsung ra mắt điện thoại pin 6000mAh, màn hình 120Hz, camera 50MP, giá 7,9 triệu đồng</h4>
                        <p>Galaxy M34 5G có ưu điểm mạnh mẽ về thời lượng pin, màn hình đẹp kèm camera chụp ảnh đẹp.</p>
                    </div>
                </a>
               
                <div class="next-pre">
                    <a href="Home1" class="previous-page"> Trang trước </a>
                    <a href="trang-tiep-theo.html" class="next-page"> Trang tiếp theo </a>
                </div>

            </div>
        </div>
    </div>
</main>