@page "/ThongKe"
@layout ManagerLayout
<main>
    <div class="container pt-5">
        <div class="container">
            <div class="row">

                <h2 class="center-text"> Thống kê</h2>
                <br><br>

                <h4 class="center-text"> Tổng lượt truy cập: 0</h4>
                <hr class="black-line">

                <h4 class="center-text"> Tổng số bài viết: 0</h4>
                <h4 class="center-text"> Tổng lượt Like: 0</h4>
                <h4 class="center-text"> Tổng lượt Dislike: 0</h4>
                <hr class="black-line">

                <h4 class="center-text"> Người dùng đang hoạt động: 0</h4>
                <h4 class="center-text"> Người dùng tạo tài khoản: 0</h4>
                <h4 class="center-text"> Người dùng xóa tài khoản: 0</h4>
                <hr class="black-line">

                <h4 class="center-text"> Số lượng bình luận: 0</h4>
                <h4 class="center-text"> Danh sách đen: 0</h4>


                
            </div>
        </div>
    </div>
</main>