@page "/VeChungToi"
@layout VeChungToiLayout
<main>
    <div class="container pt-5">
        <div class="container">
            <div class="row">

                <h2 class="center-text"> Chào mừng đến với "Mobi-Review"</h2>
                <h4 class="center-text">Nơi thần thánh dành cho các tín đồ công nghệ!</h4>

                <p class="paragraph">
                    "Mobi-Review" - nơi thần thánh dành cho các tín đồ công nghệ, nơi mà chúng tôi không chỉ xem xét điện thoại một cách nghiêm túc mà còn vui nhộn như một chương trình hài hước thứ 7 hàng tuần! Tại đây, chúng tôi không chỉ đơn thuần đưa ra những thông tin kỹ thuật khô khan, mà chúng tôi mang đến cho bạn một cuộc phiêu lưu đầy sự sáng tạo trong thế giới công nghệ.
                </p>

                <div class="test">
                    <img src="images/Ads/deal.gif" alt="" class="img-fluid float-left">
                    <p class="paragraph"> Chúng tôi đã nhấp nhanh vào tất cả những điều bạn muốn biết về các dòng điện thoại hot nhất. Nhưng đừng lo lắng, chúng tôi không phải là những "người nghiêm túc" đầy số liệu và công thức. Thay vào đó, chúng tôi biến mỗi đánh giá thành một cuộc trò chuyện hóm hỉnh giữa những người bạn thân thiết. Cùng chúng tôi "đá xéo" một chút về thiết kế siêu thời trang của sản phẩm, nhấn mạnh những tính năng độc đáo và thậm chí thảo luận về xem liệu món đồ công nghệ đó có thể "giúp bạn nấu cơm không" hay không!</p>
                    <p class="paragraph"> Từ các hiệu năng 'nhanh nhẹn như cá heo' cho đến những camera 'chụp selfie hơn cả thảo luận gia nghệ sĩ', chúng tôi không bỏ sót bất kỳ chi tiết nào. "Mobi-Review" không chỉ là nơi đánh giá điện thoại, mà còn là nơi bạn có thể tận hưởng cười nghiêng ngả với mỗi lần xem video của chúng tôi.</p>
                </div>

                <img src="images/Ads/dog-cute.gif" alt="" class="img-fluid float-left">
                <p class="paragraph"> Hãy cùng chúng tôi "bùng nổ" trong thế giới điện thoại di động, cả vui vẻ và nghiêm túc, chỉ có tại "Mobi-Review"!</p>

            </div>
        </div>
    </div>
</main>