@page "/VeChungToi"
@layout HomeLayout
<main>
    <div class="container pt-5">
        <div class="container">
            <div class="row">

                <a href="News11" class="news-item">
                    <div>
                        <img src="images/News11/news11-pic1.png" alt="" class="img-fluid float-left">
                        <h4> Realme ra mắt smartphone sạc 240W, chip Snapdragon 8 Gen 2, RAM 24GB, giá chưa tới 13 triệu đồng</h4>
                        <p>CRealme GT5 240W là một trong những chiếc smartphone có hiệu năng mạnh mẽ nhất trong phân khúc giá dưới 13 triệu đồng.</p>
                    </div>
                </a>

                <a href="News12" class="news-item">
                    <div>
                        <img src="images/News12/news12-pic2.png" alt="" class="img-fluid float-left">
                        <h4> OPPO ra mắt Find N3 Flip: Smartphone "vỏ sò" đầu tiên có 3 camera chính, giá rẻ hơn Galaxy Z Flip5</h4>
                        <p>Thế hệ smartphone gập "vò sỏ" tiếp theo của OPPO trang bị những nâng cấp đáng kể về camera và hiệu năng.</p>
                    </div>
                </a>

                <a href="News13" class="news-item">
                    <div>
                        <img src="images/News13/news13-pic1.png" alt="" class="img-fluid float-left">
                        <h4> Huawei ra mắt Mate60 Pro: Màn hình 3 "nốt ruồi", hỗ trợ 5G, giá 23 triệu đồng</h4>
                        <p>Mate60 Pro đánh dấu sự trở lại của 5G trên các smartphone Huawei sau nhiều năm cấm vận.</p>
                    </div>
                </a>

                <a href="News14" class="news-item">
                    <div>
                        <img src="images/News14/news14-pic1.png" alt="" class="img-fluid float-left">
                        <h4> Samsung ra mắt điện thoại pin 6000mAh, màn hình 120Hz, camera 50MP, giá 7,9 triệu đồng</h4>
                        <p>Galaxy M34 5G có ưu điểm mạnh mẽ về thời lượng pin, màn hình đẹp kèm camera chụp ảnh đẹp.</p>
                    </div>
                </a>
               
                <div class="next-pre">
                    <a href="Home1" class="previous-page"> Trang trước </a>
                    <a href="trang-tiep-theo.html" class="next-page"> Trang tiếp theo </a>
                </div>

            </div>
        </div>
    </div>
</main>